@using Mite.CodeData.Enums
@using Mite.Helpers
@model Mite.Models.ServiceTopFilterModel

@{
    ViewBag.Title = "Услуги";
    var isMobile = ViewHelper.IsMobileDevice(Request);
}
@section styles{
    <style>
        #vk_groups{
            width: 100%;
        }
        #cityFilter .ps__rail-y{
            margin: 5px 0;
        }
    </style>
}
<div class="active loader-wrapper"><div class="ui active loader"></div></div>
<h2 style="display: none">Услуги</h2>
<form class="ui stackable form menu">
    @Html.HiddenFor(x => x.ServiceType)
    <div class="item">
        <i class="filter icon"></i>
        Сначала&nbsp;
        <div class="ui inline dropdown" id="sortType">
            @Html.HiddenFor(x => x.SortFilter)
            <div class="text">популярные</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="active item" data-text="популярные" data-value="@((byte)ServiceSortFilter.Popular)">Популярные</div>
                <div class="item" data-text="надежные" data-value="@((byte)ServiceSortFilter.Reliable)">Надежные</div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui inline dropdown" id="cityFilter">
            @Html.HiddenFor(x => x.City)
            <i class="building icon"></i>
            <span class="text">Выберите город</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Введите название..." />
                </div>
                <div class="scrolling menu">
                    <div class="item" data-value="">Выберите город</div>
                    @foreach (var city in Model.Cities)
                    {
                        if (city.Selected)
                        {
                            <div class="active item" data-value="@city.Value">@city.Text</div>
                        }
                        else
                        {
                            <div class="item" data-value="@city.Value">@city.Text</div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="right item" id="searchItem">
        <div class="ui transparent icon input">
            <input type="text" placeholder="Название услуги" title="Поиск" role="search" onfocus="$('#searchItem').addClass('maximised')"
                   onblur="$('#searchItem').removeClass('maximised')" id="serviceSearch" />
            <i class="search link icon" onclick="SearchFilters.changeFilter()"></i>
        </div>
    </div>
</form>
<div class="ui stackable grid">
    <div class="three wide column">
        <div class="ui service-types segment">
            <h3 class="ui dividing header">Цена</h3>
            <div class="ui fluid small labeled input" style="margin-bottom: 8px;" title="Нажмите Enter для поиска">
                <label for="minPrice" class="ui label">От</label>
                <input type="number" placeholder="@Model.Min" id="minPrice" />
            </div>
            <div class="ui fluid small right labeled input" title="Нажмите Enter для поиска">
                <input type="number" placeholder="@Model.Max" id="maxPrice" />
                <label for="maxPrice" class="ui label">До</label>
            </div>
            <h3 class="ui dividing header" style="margin-top: 1rem">Типы услуг</h3>
            @foreach (var serviceType in Model.ServiceTypes){<a class="ui stype label" data-id="@serviceType.Value" onclick="loadServiceType('@serviceType.Value')">@serviceType.Text</a>}
        </div>
        <div id="vk_groups"></div>
        <div class="ui segment">
            <h4 class="ui dividing header">Реклама</h4>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- TopAd -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7675079294669395"
                 data-ad-slot="2018290469"
                 data-ad-format="auto"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
    <div class="thirteen wide column">
        @if (isMobile)
        {
            <div class="ui stackable services two column grid"></div>
        }
        else
        {
            <div class="ui services three column grid"></div>
        }
    </div>
</div>
@{ Html.RenderPartial("_Templates"); }
@Scripts.Render("~/bundles/grid")
<script>
    function loadServiceType(typeId) {
        $('#ServiceType').val(typeId);
        $('.stype.active').removeClass('active');
        $('.stype[data-id="' + typeId + '"]').addClass('active');
        SearchFilters.changeFilter();
    }
    $(function () {
        var userCardTmpl = $.templates('#miniUserCardTmpl');
        var grid = $('.services.grid').masonry();
        $('#sortType').dropdown({
            onChange: function () {
                if (SearchFilters.initialized) {
                    SearchFilters.changeFilter();
                }
            }
        });
        $('#cityFilter').dropdown({
            forceSelection: false,
            match: 'text',
            onChange: function () {
                if (SearchFilters.initialized) {
                    SearchFilters.changeFilter();
                }
            }
        });
        $('input[type="number"]').focusin(function (ev) {
            $(this).siblings('.label').addClass('violet');
        }).focusout(function (ev) {
            $(this).siblings('.label').removeClass('violet');
            });
        $('#minPrice,#maxPrice,#serviceSearch').keypress(function (ev) {
            if (ev.keyCode === 13 || ev.which === 13) {
                SearchFilters.changeFilter();
            }
        });
        SearchFilters.init({
            beforeLoad: function () {
                $('.loader-wrapper').addClass('active');
            },
            onSuccess: function (resp) {
                if (resp.length > 0) {
                    resp.forEach(function (elem) {
                        if (elem.User.UserName.length > 15) {
                            elem.User.ShowName = elem.User.UserName.substr(0, 12) + '...';
                        } else {
                            elem.User.ShowName = elem.User.UserName;
                        }
                    }); 

                    var tmpl = $.templates('#serviceTmpl');
                    var html = tmpl.render(resp);

                    if (SearchFilters._loadNextPage) {
                        grid.append(html);
                    } else {
                        grid.html(html);
                    }
                } else {
                    grid.html($('#emptyServiceTmpl').html());
                }
                grid.masonry('reloadItems')
                grid.imagesLoaded(function () {
                    $('.loader-wrapper').removeClass('active');
                }).progress(function () {
                    grid.masonry('layout');
                });
                $('a.username:not(.initialized)').popup({
                    position: 'bottom left',
                    popup: $(this).siblings('.user-card.popup')[0],
                    variation: 'basic',
                    hoverable: true,
                    inline: true,
                    transition: 'slide top',
                    preserve: true,
                    onShow: function (item) {
                        var $popup = this;
                        $.ajax({
                            url: '/userprofile/getuserprofile',
                            data: 'name=' + item.dataset.username,
                            type: 'get',
                            success: function (resp) {
                                if (resp.status === undefined) {
                                    resp = JSON.parse(resp);
                                }
                                var respData = resp.data;
                                respData.PostsCountWord = ViewHelper.getWordCase(respData.PostsCount, 'Работа', 'Работы', 'Работ');
                                respData.FollowersWord = ViewHelper.getWordCase(respData.FollowersCount, 'Подписка', 'Подписки', 'Подписок');
                                $(item).popup('change content', userCardTmpl.render(resp.data))
                                    .popup('reposition').addClass('initialized');
                            }
                        });
                    }
                });
            },
            onError: function () {
                iziToast.error({
                    title: 'Упс!',
                    message: 'Ошибка сервера.'
                });
                $('.loader-wrapper').removeClass('active');
            },
            ajax: {
                url: '@Url.Action("Top", "AuthorServices")'
            },
            filters: [
                {
                    name: 'city',
                    selector: '#City',
                    getVal: function () {
                        return $(this.selector).val()
                    },
                    updateState: function (newVal) {
                        $('#cityFilter').dropdown('set selected', newVal);
                    }
                },
                {
                    name: 'sort',
                    selector: '#SortFilter',
                    getVal: function () {
                        return $(this.selector).val();
                    },
                    updateState: function (newVal) {
                        $('#sortType').dropdown('set selected', newVal);
                    }
                },
                {
                    name: 'min',
                    selector: '#minPrice',
                    getVal: function () {
                        return $(this.selector).val();
                    },
                    updateState: function (newVal) {
                        $(this.selector).val(newVal);
                    }
                },
                {
                    name: 'max',
                    selector: '#maxPrice',
                    getVal: function () {
                        return $(this.selector).val();
                    },
                    updateState: function (newVal) {
                        $(this.selector).val(newVal);
                    }
                },
                {
                    name: 'serviceType',
                    selector: '#ServiceType',
                    getVal: function () {
                        return $(this.selector).val();
                    },
                    updateState: function (newVal) {
                        $(this.selector).val(newVal);
                        $('.stype[data-id="' + newVal + '"]').addClass('active');
                    }
                },
                {
                    name: 'input',
                    selector: '#serviceSearch',
                    getVal: function () {
                        return $(this.selector).val();
                    },
                    updateState: function (newVal) {
                        $(this.selector).val(newVal);
                    }
                },
            ]
        });
        VK.Widgets.Group("vk_groups", { mode: 3, no_cover: 1, width: $('#vk_groups')[0].offsetWidth }, 143219082);
    });
</script>

