@using Mite.Extensions
@model Mite.Models.ChangePassModel

<h3 class="ui header" style="margin-top: 0;">Изменить пароль</h3>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ui form", id = "changePassForm" }))
{
    @Html.EditorFor(x => x.OldPass)
    @Html.EditorFor(x => x.NewPass)
    @Html.EditorFor(x => x.ConfirmPass)
    @Html.AntiForgeryToken()
    <button type="button" class="ui primary button" onclick="UserSettingsApi.changePass(this)">Изменить</button>
    <div class="ui error message"></div>
    <div class="ui green m-success message">Изменения сохранены.</div>
}
<script>
    $(function () {
        initPassStrength('#NewPass');
        @Html.FormValidation("#changePassForm")
        //$('#changePassForm').form({
        //    inline: true,
        //    fields: {
        //        OldPass: {
        //            rules: [
        //                {
        //                    type: 'empty',
        //                    prompt: $("#OldPass").data("valRequired")
        //                }
        //            ]
        //        },
        //        NewPass: {
        //            rules: [
        //                {
        //                    type: "empty",
        //                    prompt: $("#NewPass").data("valRequired")
        //                },
        //                {
        //                    type: "length[6]",
        //                    prompt: "Минимальная длина пароля - 6 символов"
        //                }
        //            ]
        //        },
        //        ConfirmPass: {
        //            depends: "Password",
        //            rules: [
        //                {
        //                    type: "empty",
        //                    prompt: $("#ConfirmPass").data("valRequired")
        //                },
        //                {
        //                    type: "match[Password]",
        //                    prompt: $("#ConfirmPass").data("valEqualto")

        //                }
        //            ]
        //        }
        //    }
        //});
    });
</script>