@using Mite.Extensions
@model Mite.Models.EmailSettingsModel

<h3 class="ui header">Подтверждение e-mail</h3>
@if (Model.Confirmed)
{
    <div class="ui green message">
        <p>Ваш e-mail успешно подтвержден!</p>
    </div>
}
else
{
    <div class="ui red message">
        <p>Ваш e-mail не подтвержден.</p>
    </div>
    <form class="ui form" id="emailConfirmForm">
        @Html.AntiForgeryToken()
        <div class="ui m-success yellow message">
            <p>На ваш почтовый ящик отправлено сообщение с подтверждением. В случае отсутствия проверьте папку "Спам" или отправьте ещё раз.</p>
        </div>
        <div class="ui error message"></div>
        <button type="button" class="ui primary button" onclick="UserSettingsApi.sendEmailConfirmation(this)">Отправить подтверждение</button>
    </form>
}
<h3 class="ui header">Изменение e-mail</h3>
@using (Html.BeginForm("", "", FormMethod.Post, new { @class = "ui form", id = "emailChangeForm" }))
{
    @Html.EditorFor(x => x.NewEmail)
    @Html.EditorFor(x => x.Password)
    @Html.AntiForgeryToken()
    <button type="button" class="ui primary button" onclick="UserSettingsApi.changeEmail(this)">Изменить</button>
    <div class="ui error message"></div>
    <div class="ui m-success green message">Изменения сохранены</div>
}
<script>
    $(function () {
        @Html.FormValidation("#emailChangeForm")
    });
</script>