@{
    ViewBag.Title = "Настройки";
}
<div class="ui segment">
    <h2 class="ui dividing header">
        Настройки
    </h2>
    <nav class="ui stackable pointing secondary tabs menu" style="border: none">
        <a class="item" data-tab="userprofile">Профиль</a>
        <a class="item" data-tab="changeavatar">Изменить аватар</a>
        <a class="item" data-tab="security">Безопасность</a>
        <a class="item" data-tab="socialservices">Внешние сервисы</a>
    </nav>
    <div class="ui active tab" data-tab="userprofile">
        @Html.Action("UserProfile")
    </div>
    <div class="ui tab" data-tab="changeavatar">
        @Html.Partial("ChangeAvatar")
    </div>
    <div class="ui tab" data-tab="security">
        <div class="ui stackable basic segment grid">
            <div class="six wide column">
                @Html.Partial("_ChangePass", new Mite.Models.ChangePassModel())
            </div>
            <div class="six wide column">
                @Html.Action("EmailSettings")
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="socialservices">
        @Html.Action("SocialServices")
    </div>
</div>
<script>
    $(function () {
            $('.user-settings.item').addClass('active');
            var tabs = new MiteTab('.ui.tabs.menu .item', '/user/settings/');
            ViewHelper.disableFormSubmitting('form');
        });
</script>
