@using Mite.Extensions
@model Mite.Models.ProfileSettingsModel

@*WithLabel используется только с TextBox!!*@

<div class="ui center aligned grid">
    <div class="sixteen wide mobile ten wide tablet eight wide computer left aligned column">
        @using (Html.BeginForm("UserProfile", "UserSettings", FormMethod.Post, new { @class = "ui form", id = "profileForm" }))
        {
            @Html.EditorFor(x => x.NickName, new { WithLabel = true })
            <div class="grouped fields">
                @Html.EditorFor(x => x.Gender)
            </div>
            <div class="two fields">
                @Html.EditorFor(x => x.FirstName, new { WithLabel = true })
                @Html.EditorFor(x => x.LastName, new { WithLabel = true })
            </div>
            <div class="four wide fields">
                @Html.EditorFor(x => x.Age, new { WithLabel = true })
            </div>
            @Html.EditorFor(x => x.About, new { WithLabel = true })
            <button type="button" class="ui primary button" onclick="updateUserProfile(this)">Сохранить</button>
            <div class="ui hidden message" style="text-align: center" id="update-state-msg">
            </div>
            @Html.ValidationSum()
        }
    </div>
</div>
<script>
    $(function () {
        $('#profileForm input:text').siblings('label').show();
        $('#profileForm textarea').siblings('label').show();
    });
    function updateUserProfile(ev) {
        var $form = $(ev).parents('form');
        if (!$form.form('is valid')) {
            return;
        }
        $.ajax({
            url: '/User/Settings/UserProfile',
            type: 'post',
            dataType: 'json',
            data: $form.serialize(),
            beforeSend: function() {
                $('#profileForm').addClass('loading');
            },
            success: function (resp) {
                if (resp.status == undefined) {
                    resp = JSON.parse(resp);
                }
                var $updateMsg = $('#update-state-msg');
                if (resp.status == 1 || resp.status == 2) {
                    $updateMsg.addClass('red').removeClass('green');
                    var errorsStr = '';
                    resp.data.forEach(function (val) {
                        errorsStr += '<li>' + val + '</li>';
                    });
                    $updateMsg.html('<ul class="list">' + errorsStr + '</ul>');
                    $updateMsg.css('text-align', 'left');
                } else {
                    $updateMsg.addClass('green').removeClass('red');
                    $updateMsg.css('text-align', 'center');
                    $updateMsg.html(resp.message);
                }
            },
            error: function (resp) {
                var $updateMsg = $('#update-state-msg');
                $updateMsg.addClass('red').removeClass('green');
                $updateMsg.css('text-align', 'center');
                $updateMsg.html('Ошибка на сервере');
            },
            complete: function (jqXhr) {
                $('#update-state-msg').removeClass('hidden');
                $('#profileForm').removeClass('loading');
            }
        });
    }
    $('#About').keydown(function () {
        var rgx = /((.*vk.com.*)|(.*artstation.com.*)|(.*dribbble.com.*)|(.*facebook.com.*)|(.*twitter.com.*)|(.*instagram.com))/i
    })
    $('.ui.checkbox').checkbox();
    $('#profileForm').form({
        on: 'submit',
        inline: true,
        fields: {
            NickName: {
                rules: [
                    {
                        type: 'empty',
                        prompt: $('#NickName').data('valRequired')
                    },
                    {
                        type: 'regExp',
                        value: $("#NickName").data("valRegexPattern"),
                        prompt: $("#NickName").data("valRegex")
                    }
                ]
            },
            FirstName: {
                optional: true,
                rules: [
                    {
                        type: 'regExp',
                        value: $("#FirstName").data("valRegexPattern"),
                        prompt: $("#FirstName").data("valRegex")
                    }
                ]
            },
            LastName: {
                optional: true,
                rules: [
                    {
                        type: 'regExp',
                        value: $("#LastName").data("valRegexPattern"),
                        prompt: $("#FirstName").data("valRegex")
                    }
                ]
            },
            Age: {
                optional: true,
                rules: [
                    {
                        type: 'integer[1..100]',
                        prompt: 'Возраст введен с ошибкой'
                    }
                ]
            }
        }
    });
</script>