@model Mite.Models.WalletsSettingsModel

<div class="ui basic segment grid">
    <div class="ten wide column">
        <h3 class="ui header">Яндекс кошелек</h3>
        <form class="ui form" id="yaWalletForm">
            <div class="two fields">
                @Html.EditorFor(x => x.YandexWalId)
                @Html.EditorFor(x => x.Password)
            </div>
            @Html.AntiForgeryToken()
            <button type="button" class="ui primary button" onclick="sendYaWalletForm()">@Html.Raw(Model.YandexWalId == null ? "Добавить" : "Обновить")</button>
            <div class="ui message" hidden id="yaWalletMsg"></div>
        </form>
    </div>
</div>
<script>
    function sendYaWalletForm() {
        var $form = $('#yaWalletForm')
        if ($form.form('is valid')) {
            $.ajax({
                type: 'post',
                data: $form.serialize(),
                url: '@Url.Action("UpdateWallets", "UserSettings")',
                success: function (resp) {
                    var validationError = @((byte)Mite.Core.JsonResponseStatuses.ValidationError);

                    var $yaWalletMsg = $('#yaWalletMsg');
                    if(resp.status == validationError){
                        $yaWalletMsg.addClass('red');
                    } else{
                        $yaWalletMsg.addClass('green')
                    }
                    $yaWalletMsg.html(resp.message);
                },
                error: function(jqXhr){
                    $('#yaWalletMsg').addClass('red').html('Внутренняя ошибка сервера');
                },
                complete: function(){
                    $('#yaWalletMsg').show();
                }
            });
        }
    }
    $(function () {
        $('#yaWalletForm').form({
            on: 'submit',
            fields: {
                YandexWalId: {
                    rules: [
                        {
                            type: 'empty',
                            prompt: $("#YandexWalId").data("valRequired")
                        }
                    ]
                },
                Password: {
                    rules: [
                        {
                            type: 'empty',
                            prompt: $("#Password").data("valRequired")
                        }
                    ]
                }
            }
        });
    });
</script>