@using Mite.CodeData.Enums
@using Mite.Extensions
@model Mite.Models.DealAuthorModel

@{ 
    var demands = string.IsNullOrEmpty(Model.Demands) ? "Ожидаются..." : Model.Demands;
    var deadline = Model.Deadline ?? DateTime.UtcNow;
}
@if (Model.Status == DealStatuses.New)
{
    <h3 class="ui header">Требования</h3>
    <p>@demands</p>
    <h3 class="ui header">Параметры</h3>
    <form class="ui form" id="dealForm">
        @Html.HiddenFor(x => x.Id)
        <div class="two fields">
            <div class="field">
                <label>@Html.DisplayNameFor(x => x.Price)</label>
                @Html.TextBoxFor(x => x.Price, new { placeholder = Model.Price ?? Model.Service.Price })
            </div>
            <div class="field">
                <label>@Html.DisplayNameFor(x => x.DeadlineStr)</label>
                @Html.TextBoxFor(x => x.DeadlineStr, new { placeholder = deadline.ToString("dd.MM.yyyy") })
            </div>
        </div>
        <button class="ui red button" type="button" onclick="DealsMvc.close(this)">
            <i class="close icon"></i>
            Закрыть сделку
        </button>
        <button type="button" class="ui green button" onclick="DealsApi.update(this)">Сохранить</button>
        <div class="ui error message"></div>
    </form>
}
else if (Model.Status == DealStatuses.ExpectPayment)
{
    <h3 class="ui header">Ожидаем оплату</h3>
    <form class="ui form" id="dealForm">
        @if (Model.VkReposted == false)
        {
        <div class="field">@Html.Raw(Model.Service.VkRepostCode)</div>
        <button type="button" class="ui primary button" onclick="DealsMvc.confirmVkRepost(this, '@Model.Id')">Подтвердить репост</button>
        }
        else if (Model.VkReposted == true)
        {
        <div class="field">@Html.Raw(Model.Service.VkRepostCode)</div>
        <button type="button" disabled class="ui disabled primary button">Репост подтвержден</button>
        }
        <div class="ui error message"></div>
    </form>
}
else if(Model.Status == DealStatuses.ExpectClient)
{
    <h3 class="ui header">Ожидаем подтверждения клиента</h3>
    <form class="ui form" id="dealForm">
        <div class="field">
            <button class="ui fluid red button" type="button" onclick="DealsMvc.openDispute(this, '@Model.Id')">
                <i class="meh icon"></i>Открыть спор
            </button>
        </div>
        <div class="ui error message"></div>
    </form>
}
else if (Model.Status == DealStatuses.Confirmed)
{
    <h3 class="ui header"><i class="check icon"></i>Заказ выполнен</h3>
}
else if (Model.Status == DealStatuses.Rejected)
{
    <h3 class="ui header">Заказ отклонен</h3>

}
else if (Model.Status == DealStatuses.Dispute)
{
    <h3 class="ui header">Диалог с модератором</h3>
}
<script>
    $(function () {
        @Html.Raw(Html.FormValidation<Mite.Models.DealAuthorModel>("#dealForm"))
        $('#DeadlineStr').datepicker({
            minDate: new Date()
        });
    });
</script>