@model Mite.Models.CityModel

<div class="ui tiny modal" id="cityModal" data-city-id role="dialog">
    <div class="header" role="heading">Изменение города</div>
    <div class="content" role="document">
        <form class="ui form" id="cityForm">
            @Html.HiddenFor(x => x.Id)
            @Html.EditorFor(x => x.Name, new { WithLabel = true })
            @Html.EditorFor(x => x.District, new { WithLabel = true })
            @Html.EditorFor(x => x.Region, new { WithLabel = true })
            @Html.EditorFor(x => x.TimeZone, new { WithLabel = true })
            @Html.EditorFor(x => x.Population, new { WithLabel = true })
        </form>
    </div>
    <div class="actions">
        <button type="button" class="ui green ok button" id="cityFormBtn">Отправить</button>
    </div>
</div>
<script id="citiesRowTmpl" type="text/x-jsrender">
    <tr data-id="{{:Id}}" data-name="{{:Name}}" data-population="{{:Population}}" data-district="{{:District}}" data-region="{{:Region}}"
        data-timezone="{{:TimeZone}}">
        <td>{{:Name}}</td>
        <td>{{:Region}}</td>
        <td>{{:District}}</td>
        <td>
            <button class="ui margined compact button" onclick="showCityEditModal(this, '{{:Id}}')">Изменить</button>
            <button class="ui margined compact red button" onclick="CitiesApi.remove($(this), $(this).parents('tr'), '{{:Id}}')">Удалить</button>
        </td>
    </tr>
</script>
<script>
    function showCityAddModal() {
        document.getElementById('cityModal').dataset.cityId = '';
        $('#cityModal>.header').html('Добавление города');
        var $form = $('#cityForm');

        $form.find('input').each(function (elem) {
            $(elem).val('');
        });
        $('#cityModal').modal('show');
    }
    function showCityEditModal(btn, id) {
        var $tr = $(btn).parents('tr');
        $('#cityModal .header').html('Изменение города');
        var $form = $('#cityForm');

        $form.find('[name="@Html.NameFor(x => x.Id)"]').val($tr.data('id'));
        $form.find('[name="@Html.NameFor(x => x.Name)"]').val($tr.data('name'));
        $form.find('[name="@Html.NameFor(x => x.District)"]').val($tr.data('district'));
        $form.find('[name="@Html.NameFor(x => x.Region)"]').val($tr.data('region'));
        $form.find('[name="@Html.NameFor(x => x.TimeZone)"]').val($tr.data('timezone'));
        $form.find('[name="@Html.NameFor(x => x.Population)"]').val($tr.data('population'));

        document.getElementById('cityModal').dataset.cityId = id;
        $('#cityModal').modal('show');
    }
    $(function () {
        $('#cityModal').modal({
            onApprove: function ($elem) {
                var cityId = document.getElementById('cityModal').dataset.cityId;
                if (cityId != null)
                    CitiesApi.update($('#cityFormBtn'), $('#cityForm'), $('tr[data-id="' + cityId + '"]'));
                else
                    CitiesApi.add($('#cityFormBtn'), $('#cityForm'), $('.tab[data-tab="cities"] tbody'));
            }
        });
    });
</script>