@model Mite.DAL.Entities.City

<div class="ui tiny modal" id="cityEditModal" data-city-id>
    <div class="header">Изменение города</div>
    <form class="ui form" id="cityEditForm">
        @Html.EditorFor(x => x.Name)
        @Html.EditorFor(x => x.District)
        @Html.EditorFor(x => x.Region)
        @Html.EditorFor(x => x.TimeZone)
        @Html.EditorFor(x => x.Population)
    </form>
    <div class="actions">
        <button type="button" class="ui success button" id="cityEditBtn">Отправить</button>
    </div>
</div>
<div class="ui tiny modal" id="cityAddModal">
    <div class="header">Добавление города</div>
    <form class="ui form" id="cityAddForm">
        @Html.EditorFor(x => x.Name)
        @Html.EditorFor(x => x.District)
        @Html.EditorFor(x => x.Region)
        @Html.EditorFor(x => x.TimeZone)
        @Html.EditorFor(x => x.Population)
    </form>
    <div class="actions">
        <button type="button" class="ui ok primary button" id="cityAddBtn">Отправить</button>
    </div>
</div>
<script id="citiesRowTmpl" type="text/x-jsrender">
    <tr data-id="{{:Id}}" data-name="{{:Name}}" data-population="{{:Population}}" data-district="{{:District}}" data-region="{{:Region}}"
        data-timezone="{{:TimeZone}}">
        <td>{{:Id}}</td>
        <td>{{:Name}}</td>
        <td>
            <button class="ui margined compact button" onclick="showCityEditModal(this)">Изменить</button>
            <button class="ui margined compact red button" onclick="CitiesApi.remove($(this), $(this).parents('tr'), '{{:Id}}')">Удалить</button>
        </td>
    </tr>
</script>
<script>
    $(function () {
        $('#cityEditModal').modal({
            onApprove: function ($elem) {
                var cityId = $('#cityEditModal').data('id');
                CitiesApi.update($('#cityEditBtn'), $('#cityEditForm'), $('tr[data-id="' + cityId + '"]'));
            }
        });
        $('#cityAddModal').modal({
            onApprove: function ($elem) {
                CitiesApi.add($('#cityAddBtn'), $('#cityAddForm'), $('.tab[data-tab="cities"] tbody'));
            }
        });
    });
</script>