@model IEnumerable<User>
@using Mite.Core
@using Mite.DAL.Entities

<div class="ui grid">
    <div class="row">

        <form class="ui sixteen wide mobile ten wide tablet eight wide computer left aligned column form">
            <div class="field">
                <input type="text" placeholder="Имя пользователя" id="moderName" required />
            </div>
            <button class="ui button" type="button" onclick="addModer()">Добавить</button>
            <div class="ui hidden message" id="update-state-msg">Пользователь успешно добавлен</div>
        </form>
    </div>
    <div class="row">
        <div class="ten wide column">
            <div class="ui basic segment" style="padding: 0">
                <h4 class="ui header">Список модераторов</h4>
                <div class="ui middle aligned selection list">
                    @foreach (var moder in Model)
                    {
                        <a class="item" href="/user/profile/@moder.UserName">
                            <img class="ui avatar image" src="@moder.AvatarSrc" />
                            <span class="content">
                                <span class="header">@moder.UserName</span>
                                <span class="description">@moder.Description</span>
                            </span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addModer() {
        var value = $('#moderName').val();
        if(value == '' || value == null){
            $('#update-state-msg').addClass('red').removeClass('hidden').html('Введите имя модератора');
            return;
        }
        $.ajax({
            url: '@Url.Action("AddModer")',
            type: 'post',
            data: 'userName=' + value,
            success: function(resp){
                var validationError = @((byte)JsonResponseStatuses.ValidationError);
                if(resp.status == validationError){
                    $('#update-state-msg').addClass('red').removeClass('hidden').html(resp.message);
                } else{
                    $('#update-state-msg').addClass('green').removeClass('hidden');
                }
            },
            error: function(){
                $('#update-state-msg').addClass('red').removeClass('hidden').html('Ошибка');
            }
        });
    }
</script>