@using Microsoft.AspNet.Identity
@{ 
    var pageUserName = Model.UserName.ToLower();
    var currentUserName = User.Identity.Name.ToLower();
    var userId = User.Identity.GetUserId();
}
<script id="followersTmpl" type="text/x-jsrender">
    <div class="column">
        <div class="ui compact segment follower-card grid" style="margin: 0px;">
            <div class="five wide column">
                <img src="{{:AvatarSrc}}" class="ui small circular image">
            </div>
            <div class="ten wide column">
                <h4 class="ui header">
                    <span class="content">
                        <a href="/user/profile/{{:UserName}}">{{:UserName}}</a> &bull; <i class="yellow star icon"></i>{{:Rating}}
                        <span class="sub header">{{:Description}}</span>
                    </span>
                </h4>
            </div>
        </div>
    </div>
</script>
<script id="postsTmpl" type="text/x-jsrender">
    <div class="column" data-post-id="{{:Id}}" id="post{{:Id}}">
        <div class="ui segment {{if !IsImage && Cover != null}}invert{{/if}}{{if !ShowAdultContent}} hide-adult-content{{/if}} post-item"
             {{if !IsImage && Cover != null}} style="background: linear-gradient(rgba(181, 64, 198, 0.6),rgba(181, 64, 198, 0.5)), url({{:Cover}})" {{/if}}
             id="post{{:Id}}">
            @if (currentUserName == pageUserName)
            {
                <div class="extra content">
                    {{if IsPublished}}
                    <div class="ui default floating compact dropdown button">
                        Действия
                        <i class="dropdown icon"></i>
                        <div class="menu" role="menu">
                            <a class="item" href="/posts/edit/{{:Id}}" role="menuitem"><i class="edit icon"></i>Редактировать</a>
                            <div class="item" onclick="showDeletePostModal('{{:Id}}')" role="menuitem"><i class="remove icon"></i>Удалить</div>
                        </div>
                    </div>
                    {{else}}
                    <div class="ui primary buttons">
                        <a class="ui compact button" href="/posts/edit/{{:Id}}">Редактировать</a>
                        <div class="ui compact floating dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu" role="menu">
                                <div class="item" onclick="publishPost('{{:Id}}')" role="menuitem"><i class="announcement icon"></i>Опубликовать</div>
                                <div class="item" onclick="showDeletePostModal('{{:Id}}')" role="menuitem"><i class="remove icon"></i>Удалить</div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{if Price}}
                    <div class="right" title="Работа продается"><i class="teal shopping cart icon"></i></div>
                    {{/if}}
                </div>
                <div class="ui {{if !IsImage && Cover != null}}inverted {{/if}} divider"></div>
            }
            {{if IsImage}}
            <div class="img-content">
                {{if IsPublished}}
                <a href="@Url.Action("ShowPost", "Posts")/{{:Id}}">
                    <img src="{{:Content}}" class="ui image" {{if width}}width="{{:width}}" height="{{:height}}"{{/if}} />
                </a>
                {{else}}
                <a href="/posts/edit/{{:Id}}">
                    <img src="{{:Content}}" class="ui image" />
                </a>
                {{/if}}
                {{if IsGif}}
                <div class="active gif-wrapper">
                    <button class="ui large primary circular icon button" onclick="loadFullGif('{{:FullPath}}', '{{:Id}}', $(this))"><i class="fire icon"></i></button>
                    <span class="ui violet label">gif</span>
                </div>
                {{/if}}
            </div>
            {{else}}
            {{if IsPublished}}
            <a class="post-content content" href="@Url.Action("ShowPost", "Posts")/{{:Id}}">
                {{:Content}}
            </a>
            {{else}}
            <a class="post-content content" href="/posts/edit/{{:Id}}">
                {{:Content}}
            </a>
            {{/if}}
            {{/if}}
            <div class="ui {{if !IsImage && Cover != null}}inverted{{/if}} divider"></div>
            <div class="extra content">
                <a class="ui {{if !IsImage && Cover != null}}inverted {{/if}}header" style="margin-bottom: 5px" href="/posts/showpost/{{:Id}}">
                    {{:Header}}
                    <span class="sub header">
                        {{:Description}}
                    </span>
                </a>
                {{for Tags}}
                <a class="ui{{if !~root.IsImage && ~root.Cover != null}} invert{{/if}} label" href="/posts/top?tags={{>#data}}">{{>#data}}</a>
                {{/for}}
            </div>
            <div class="ui {{if !IsImage && Cover != null}}inverted{{/if}} divider"></div>
            <div class="extra content">
                {{:PublicTimeStr}}
                {{if IsPublished || Price}}
                <div class="right">
                    {{if IsPublished}}
                    <i class="yellow star icon"></i>{{:Rating}}
                    <i class="{{if Cover == null}}blue{{else}}black{{/if}} unhide icon"></i>{{:Views}}
                    <i class="black comments outline icon"></i>{{:CommentsCount}}
                    {{/if}}
                </div>
                {{/if}}

            </div>
            {{if !ShowAdultContent}}
            <div class="ui center aligned dimmer">
                <div class="content">
                    <h2 class="ui inverted header">Взрослый контент(18+)</h2>
                    <button class="ui primary button" onclick="$(this).parents('.post-item').dimmer('hide')">Показать</button>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</script>
<script id="productsTmpl" type="text/x-jsrender">
    <div class="column" data-product-id="{{:Id}}" id="prod{{:Id}}">
        <div class="ui service-item segment">
            @if (currentUserName == pageUserName)
            {
                <div class="extra content">
                    <div class="ui violet compact buttons">
                        <a class="ui button" href="@Url.Action("Edit", "Posts")/{{:PostId}}">Редактировать</a>
                        <div class="ui floating dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" onclick="Products.Mvc.remove('{{:Id}}')"><i class="delete icon"></i>Удалить</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            }
            <div class="img-content">
                <a href="@Url.Action("ShowPost", "Posts")/{{:PostId}}">
                    <img src="{{:Content}}" class="ui image" />
                </a>
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                <a class="ui header" href="@Url.Action("ShowPost", "Posts")/{{:PostId}}">
                    {{:Title}}
                    <span class="sub header">{{:Description}}</span>
                </a>
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                {{for Tags}}
                <a class="ui label" href="/posts/top?tags={{>#data}}">{{>#data}}</a>
                {{/for}}
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                {{if Price}}
                <span title="Цена"><i class="ruble green icon"></i>{{:Price}} руб.</span>
                {{else}}
                <span title="Цена"><i class="ruble green icon"></i>Бесплатно</span>
                {{/if}}
            </div>
        </div>
    </div>
</script>
<script id="favoritePostsTmpl" type="text/x-jsrender">
    <div class="column" data-post-id="{{:Id}}">
        <div class="ui segment {{if !IsImage && Cover != null}}invert{{/if}}{{if !ShowAdultContent}} hide-adult-content{{/if}} post-item"
             {{if !IsImage && Cover != null}} style="background: linear-gradient(rgba(181, 64, 198, 0.6),rgba(181, 64, 198, 0.5)), url({{:Cover}})" {{/if}}
             id="post{{:Id}}">
            @if (currentUserName == pageUserName)
            {
                <div class="extra content">
                    <button class="ui red floating compact button" onclick="FavoritePostsApi.remove(this, '{{:Id}}', '@userId', true)">Удалить</button>
                </div>
                <div class="ui {{if !IsImage && Cover != null}}inverted {{/if}} divider"></div>
            }
            {{if IsImage}}
            <div class="img-content">
                {{if IsPublished}}
                <a href="@Url.Action("ShowPost", "Posts")/{{:Id}}">
                    <img src="{{:Content}}" class="ui image" />
                </a>
                {{else}}
                <a href="/posts/edit/{{:Id}}">
                    <img src="{{:Content}}" class="ui image" />
                </a>
                {{/if}}
                {{if IsGif}}
                <div class="active gif-wrapper">
                    <button class="ui large primary circular icon button" onclick="loadFullGif('{{:FullPath}}', '{{:Id}}', $(this))"><i class="fire icon"></i></button>
                    <span class="ui violet label">gif</span>
                </div>
                {{/if}}
            </div>
            {{else}}
            <a class="post-content content" href="@Url.Action("ShowPost", "Posts")/{{:Id}}">
                {{:Content}}
            </a>
            {{/if}}
            <div class="ui {{if !IsImage && Cover != null}}inverted{{/if}} divider"></div>
            <div class="extra content">
                <a class="ui {{if !IsImage && Cover != null}}inverted {{/if}}header" style="margin-bottom: 5px" href="/posts/showpost/{{:Id}}">
                    {{:Header}}
                    <span class="sub header">
                        {{:Description}}
                    </span>
                </a>
                {{for Tags}}
                <a class="ui{{if !~root.IsImage && ~root.Cover != null}} invert{{/if}} label" href="/posts/top?tags={{>#data}}">{{>#data}}</a>
                {{/for}}
            </div>
            <div class="ui {{if !IsImage && Cover != null}}inverted{{/if}} divider"></div>
            <div class="extra content">
                {{:PublicTimeStr}}
                <div class="right">
                    <i class="yellow star icon"></i>{{:Rating}}
                    <i class="{{if Cover == null}}blue{{else}}black{{/if}} unhide icon"></i>{{:Views}}
                    <i class="green comments outline icon"></i>{{:CommentsCount}}
                </div>
            </div>
            {{if !ShowAdultContent}}
            <div class="ui center aligned dimmer">
                <div class="content">
                    <h2 class="ui inverted header">Взрослый контент(18+)</h2>
                    <button class="ui primary button" onclick="$(this).parents('.post-item').dimmer('hide')">Показать</button>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</script>
<script id="servicesTmpl" type="text/x-jsrender">
    <div class="column" data-service-id="{{:Id}}" id="service{{:Id}}">
        <div class="ui service-item segment">
            @if (pageUserName == currentUserName)
            {
                <div class="extra content">
                    <div class="ui violet compact buttons">
                        <a class="ui button" href="@Url.Action("Edit", "AuthorServices")/{{:Id}}">Редактировать</a>
                        <div class="ui floating dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" onclick="AuthorServiceApi.remove('{{:Id}}')"><i class="delete icon"></i>Удалить</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
            }
            <div class="img-content">
                <a href="@Url.Action("Show", "AuthorServices")/{{:Id}}">
                    <img src="{{:ImageSrc}}" class="ui image" />
                </a>
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                <a class="ui header" href="@Url.Action("Show", "AuthorServices")/{{:Id}}">
                    {{:Title}}
                    <span class="sub header">{{:Description}}</span>
                </a>
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                <a class="ui teal tag label" onclick="loadServiceType('{{:ServiceType.Id}}')">{{:ServiceType.Name}}</a>
            </div>
            <div class="ui divider"></div>
            <div class="extra content">
                <span title="Срок выполнения"><i class="calendar violet icon"></i>{{:Deadline}}</span>
                <span title="Рейтинг"><i class="yellow star icon"></i>{{:Rating}}</span>
                <span title="Надёжность"><i class="blue check circle icon"></i>{{:Reliability}}</span>
                <div class="right">
                    {{if Price != null && Price > 0}}
                    <span title="Цена"><i class="ruble green icon"></i>{{:Price}}</span>
                    {{else}}
                    <span title="Цена"><i class="ruble green icon"></i>Бесплатно</span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="emptyPostTmpl">
    <div class="sixteen wide column">
        <h2 class="ui center aligned icon header" style="color: #6D6788; margin-top: 20px;">
            <i class="meh outline icon"></i>
            <span class="content">
                Работы не найдены.
            </span>
        </h2>
    </div>
</script>
<script type="text/html" id="emptyBlockedTmpl">
    <div class="sixteen wide column">
        <h2 class="ui center aligned icon header" style="color: #6D6788">
            <i class="smile outline icon"></i>
            <span class="content">У вас нет заблокированных работ.</span>
        </h2>
    </div>
</script>
<script type="text/html" id="emptyFollowersTmpl">
    <div class="sixteen wide column">
        <h3 class="ui center aligned icon header" style="color: #6D6788">
            <i class="users icon"></i>
            <span class="content">
                Нет подписчиков.
            </span>
        </h3>
    </div>
</script>
<script type="text/html" id="emptyFollowingsTmpl">
    <div class="sixteen wide column">
        <h3 class="ui center aligned icon header" style="color: #6D6788">
            <i class="users icon"></i>
            <span class="content">
                Вы пока ни на кого не подписались.
            </span>
        </h3>
    </div>
</script>
<script type="text/html" id="emptyServicesTmpl">
    <div class="sixteen wide column">
        <h3 class="ui center aligned icon header" style="color: #6D6788">
            <i class="suitcase icon"></i>
            <span class="content">
                @if (pageUserName == currentUserName)
                {
                    @Html.Raw("У вас пока нет услуг.")
                }
                else
                {
                    @Html.Raw("У пользователя пока нет услуг.")
                }
            </span>
        </h3>
    </div>
</script>
<script type="text/html" id="emptyProductsTmpl">
    <div class="sixteen wide column">
        <h3 class="ui center aligned icon header" style="color: #6D6788">
            <i class="suitcase icon"></i>
            <span class="content">
                @if (pageUserName == currentUserName)
                {
                    @Html.Raw("У вас пока нет товаров.")
                }
                else
                {
                    @Html.Raw("У пользователя пока нет товаров.")
                }
            </span>
        </h3>
    </div>
</script>
