@using Mite.Enums
@using Mite.Helpers
@using Mite.Core
@model Mite.Models.ProfileModel

@{
    ViewBag.Title = "Профиль " + Model.UserName;
    var pageUserName = Model.UserName;
    var currentUserName = User.Identity.Name;
}
@Scripts.Render("~/bundles/jsrender", "~/bundles/grid")
<div class="ui profile center aligned three column stackable grid segment">
    <div class="computer tablet only row">
        <div class="right aligned column">
            @if (Model.YandexWalId != null)
            {
                <button class="ui green labeled icon button" onclick="$('#donateModal').modal('show')">
                    <i class="heart icon"></i>
                    Поддержать
                </button>
            }
        </div>
        <div class="column">
            <img class="ui centered circular image" src="@Model.AvatarSrc" width="150" />
            <h2 class="ui header">
                @Model.UserName
                <span class="sub header">
                    @Model.About
                </span>
            </h2>
        </div>
        <div class="left aligned column">
            @if (currentUserName != pageUserName && !Model.IsFollowing && User.Identity.IsAuthenticated)
            {
                <button class="ui primary button" onclick="addFollower('@Model.UserId', this)">
                    <i class="add user icon"></i>Подписаться
                </button>
                <button class="ui red button" onclick="deleteFollower('@Model.UserId', this)" style="display: none">
                    <i class="remove user icon"></i>Отписаться
                </button>
            }
            @if (Model.IsFollowing)
            {
                <button class="ui red button" onclick="deleteFollower('@Model.UserId', this)">
                    <i class="remove user icon"></i>Отписаться
                </button>
                <button class="ui primary button" onclick="addFollower('@Model.UserId', this)" style="display: none">
                    <i class="add user icon"></i>Подписаться
                </button>
            }
        </div>
    </div>
    <div class="stackable mobile only row">
        <div class="column">
            <img class="ui centered circular image" src="@Model.AvatarSrc" width="150" />
            <h2 class="ui header">
                @Model.UserName
                <span class="sub header">
                    @Model.About
                </span>
            </h2>
        </div>
        <div class="column">
            @if (Model.YandexWalId != null)
            {
                <button class="ui green labeled icon button" onclick="$('#donateModal').modal('show')">
                    <i class="heart icon"></i>
                    Поддержать
                </button>
            }
        </div>
        <div class="column">
            @if (currentUserName != pageUserName && !Model.IsFollowing && User.Identity.IsAuthenticated)
            {
                <button class="ui primary button" onclick="addFollower('@Model.UserId', this)">
                    <i class="add user icon"></i>Подписаться
                </button>
                <button class="ui red button" onclick="deleteFollower('@Model.UserId', this)" style="display: none">
                    <i class="remove user icon"></i>Отписаться
                </button>
            }
            @if (Model.IsFollowing)
            {
                <button class="ui red button" onclick="deleteFollower('@Model.UserId', this)">
                    <i class="remove user icon"></i>Отписаться
                </button>
                <button class="ui primary button" onclick="addFollower('@Model.UserId', this)" style="display: none">
                    <i class="add user icon"></i>Подписаться
                </button>
            }
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="ui small statistic">
                <div class="value">
                    @Model.FollowersCount
                </div>
                <div class="label">
                    @ViewHelper.GetWordCase(Model.FollowersCount, "Подписчик", "Подписчика", "Подписчиков")
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui small statistic">
                <div class="value">
                    @Model.Rating
                </div>
                <div class="label">
                    Рейтинг
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui small statistic">
                <div class="value">
                    @Model.PostsCount
                </div>
                <div class="label">
                    @ViewHelper.GetWordCase(Model.PostsCount, "Работа", "Работы", "Работ")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui tabs stackable menu" id="tabs-context">
    @if (currentUserName == pageUserName)
    {
        <a class="active item" data-tab="posts">Работы</a>
    }
    else
    {
        <a class="active item" data-tab="posts/published">Работы</a>
    }
    <a class="item" id="followers-tab" data-tab="followers">Подписчики</a>
    @if (currentUserName == pageUserName)
    {
        <a class="item" data-tab="followings">Я подписан</a>
    }
    <div class="right item">
        <i class="filter icon"></i>
        Сначала&nbsp;
        <div class="ui inline dropdown" id="sortDropDown">
            <div class="text">высший рейтинг</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="active item" data-text="высший рейтинг" data-value="@((byte)SortFilter.Popular)">Высший рейтинг</div>
                <div class="item" data-text="новые" data-value="@((byte)SortFilter.New)">Новые</div>
                <div class="item" data-text="старые" data-value="@((byte)SortFilter.Old)">Старые</div>
            </div>
        </div>
    </div>
</div>
@if (currentUserName == pageUserName)
{
    <div class="ui tab" data-tab="posts">
        <div class="ui center aligned labeled icon secondary tabs menu">
            <a class="active item" data-tab="posts/published">
                <i class="announcement icon"></i>
                Публикации
            </a>
            <a class="item" data-tab="posts/drafts">
                <i class="edit icon"></i>
                Черновики
            </a>
        </div>
        <div class="ui tab stackable three column grid basic segment" data-tab="posts/published">Опубликованные</div>
        <div class="ui tab stackable three column basic segment grid" data-tab="posts/drafts">Черновики</div>
    </div>
}
else
{
    <div class="ui tab stackable three column basic segment grid" data-tab="posts/published"></div>
}
<div class="ui stackable tab four column basic segment grid" data-tab="followers">
</div>
@if (currentUserName == pageUserName)
{
    <div class="ui doubling tab four column basic segment grid" data-tab="followings"></div>
}
<div class="ui basic modal" id="confirmPostDelete">
    <div class="ui icon header">
        <i class="remove circle icon"></i>
        Удалить работу
    </div>
    <div class="content" style="text-align: center">
        <p>Вы уверены? Данное действие будет невозможно отменить</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            Нет
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Да
        </div>
    </div>
</div>
<div class="ui small center aligned modal" id="workChooseModal">
    <i class="close icon"></i>
    <div class="header">
        Тип работы
    </div>
    <div class="content">
        <div class="ui secondary labeled icon menu">
            <a href="@Url.Action("AddPost", "Posts")?postType=image" class="violet item"><i class="image icon"></i>Изображение</a>
            <a href="@Url.Action("AddPost", "Posts")?postType=doc" class="violet item"><i class="photo icon"></i>Документ</a>
        </div>
    </div>
</div>
<div class="ui small modal" id="donateModal">
    <i class="close icon"></i>
    <div class="header">
        Поддержать @User.Identity.Name
    </div>
    <div class="content">
        <form class="ui form" id="donateForm" action="https://money.yandex.ru/quickpay/confirm.xml" method="post" target="_blank">
            <div class="field">
                <textarea placeholder="Ваши пожелания =)" name="comment" rows="3"></textarea>
            </div>
            <div class="inline fields">
                <div class="field">
                    <input type="number" placeholder="Сумма" name="sum" />
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="paymentType" value="PC" class="hidden" />
                        <label>Яндекс.Деньги</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="paymentType" value="PC" class="hidden" />
                        <label>Банковская карта</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="paymentType" value="MC" class="hidden" />
                        <label>Мобильный</label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="receiver" value="@Model.YandexWalId" />
            <input type="hidden" name="quickpay-form" value="donate" />
            <input type="hidden" name="targets" value="Поддержка пользователя @Model.UserName" />
            <input type="hidden" name="formcomment" value="Поддержка пользователя @Model.UserName" />
            <input type="hidden" name="short-dest" value="Поддержка пользователя @Model.UserName" />
            <input type="hidden" name="successURL" value="@Request.Url" />
        </form>
    </div>
    <div class="actions">
        <button type="submit" form="donateForm" class="ui primary button">Поддержать</button>
    </div>
</div>
<script id="followersTmpl" type="text/x-jsrender">
    <div class="column">
        <div class="ui segment grid" style="margin: 0px;">
            <div class="six wide column">
                <img src="{{:AvatarSrc}}" class="ui tiny circular image">
            </div>
            <div class="ten wide column">
                <h3 class="ui header">
                    <span class="content">
                        <a href="/user/profile/{{:UserName}}">{{:UserName}}</a> &bull; <i class="yellow star icon"></i>{{:Rating}}
                        <span class="sub header">{{:Description}}</span>
                    </span>
                </h3>
            </div>
        </div>
    </div>
</script>
@*<script id="" type="text/x-jsrender">
    <div class="column" data-post-id="{{:Id}}">
        <div class="ui link raised card">
            {{if IsImage}}
            <div class="image">
                <img src="{{:Content}}" />
            </div>
            {{else}}
            <div class="content">
                {{:Content}}
            </div>
            {{/if}}
            <div class="content">
                @if (currentUserName == pageUserName)
                {
                    <text>
                        {{if IsPublished}}
                        <a class="header" href="/posts/showpost/{{:Id}}">{{:Header}}</a>
                        {{else}}
                        <a class="header" href="/posts/editpost/{{:Id}}">{{:Header}}</a>
                        {{/if}}
                    </text>
                }
                else
                {
                    <a class="header" href="/posts/showpost/{{:Id}}">{{:Header}}</a>
                }
                <div class="description">
                    <p>{{:Description}}</p>
                </div>
            </div>
            <div class="extra content">
                {{if IsPublished}}
                <a href="@Url.Action("ShowPost", "Posts")/{{:Id}}" class="ui primary compact button">Смотреть</a>
                {{/if}}
                @if (currentUserName == pageUserName)
                {
                    <button class="ui red post-del compact button" onclick="showDeletePostModal('{{:Id}}')">Удалить</button>
                        <button class="ui blue compact button" onclick="publishPost('{{:Id}}')">Опубликовать</button>
                        <text>
                            {{if !IsPublished}}
                            <a class="ui primary compact button" href="@Url.Action("EditPost", "Posts")/{{:Id}}">Редактировать</a>
                            {{/if}}
                        </text>
                }
                {{if IsPublished}}
                <div class="right floated">
                    <i class="yellow star icon"></i>{{:Rating}}
                    <i class="blue unhide icon"></i>{{:Views}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</script>*@
<script id="postsTmpl" type="text/x-jsrender">
    <div class="column" data-post-id="{{:Id}}">
        <div class="ui segment post-item">
            {{if IsImage}}
            <img src="{{:Content}}" class="ui image" />
            {{else}}
            <div class="content">
                {{:Content}}
            </div>
            {{/if}}
            <div class="ui divider"></div>
            <div class="extra content">
                {{:PublicTimeStr}}
                {{if IsPublished}}
                <div class="right floated" style="float: right">
                    <i class="yellow star icon"></i>{{:Rating}}
                    <i class="blue unhide icon"></i>{{:Views}}
                </div>
                {{/if}}
            </div>
            <div class="ui dimmer">
                <div class="content">
                    {{if !IsPublished}}
                    <div class="meta">
                        <button class="ui circular blue icon button" data-inverted data-tooltip="Опубликовать"
                                data-position="right center" onclick="publishPost('{{:Id}}')">
                            <i class="announcement icon"></i>
                        </button>
                    </div>
                    {{/if}}
                    <div class="center">
                        <h2 class="ui inverted header">
                            {{:Header}}
                            <span class="sub header">{{:Description}}</span>
                        </h2>
                        {{if IsPublished}}
                        <a href="/posts/showpost/{{:Id}}" class="ui primary button">Смотреть</a>
                        {{/if}}
                        @if (currentUserName == pageUserName)
                        {
                            <text>
                                {{if IsPublished}}
                                <button class="ui red post-del button" onclick="showDeletePostModal('{{:Id}}')">Удалить</button>
                                {{else}}
                                <a class="ui primary button" href="/posts/editpost/{{:Id}}">Редактировать</a>
                                {{/if}}
                            </text>
                        }
                    </div>
                    {{if !IsPublished}}
                    <div class="right meta">
                        <button data-inverted data-tooltip="Удалить" onclick="showDeletePostModal('{{:Id}}')"
                                data-position="left center" class="ui circular icon red post-del button">
                            <i class="remove icon"></i>
                        </button>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</script>
<script id="emptyPostTmpl" type="text/x-jsrender">
    <div class="column">
        <h2 class="ui center aligned icon header" style="color: #6D6788; margin-top: 20px;">
            <i class="frown icon"></i>
            @if (currentUserName == pageUserName)
            {
                <span class="content">
                    У вас пока нет постов
                    <span class="sub header">
                        Добавить @Html.ActionLink("изображение", "AddPost", "Posts", new { postType = PostTypes.Image.ToString().ToLower() }, null)
                        или @Html.ActionLink("документ", "AddPost", "Posts", new { postType = PostTypes.Document.ToString().ToLower() }, null)
                    </span>
                </span>
            }
            else
            {
                <span class="content">
                    У пользователя пока нет постов
                </span>
            }
        </h2>
    </div>
</script>
<template id="newPostTmpl">
    @if (currentUserName == pageUserName)
    {
        <div class="column">
            <div class="ui segment">
                <h2 class="ui center aligned icon header" style="color: #6D6788; margin-top: 20px;">
                    <i class="smile icon"></i>
                    <span class="content">
                        Добавить ещё
                        <span class="sub header">
                            @Html.ActionLink("изображение", "AddPost", "Posts", new { postType = PostTypes.Image.ToString().ToLower() }, null)
                            или @Html.ActionLink("документ", "AddPost", "Posts", new { postType = PostTypes.Document.ToString().ToLower() }, null)
                        </span>
                    </span>
                </h2>
            </div>
        </div>
    }
</template>
<script id="emptyFollowersTmpl" type="text/x-jsrender">
    <div class="column">
        <h3 class="ui header" style="color: #6D6788">
            <i class="users icon"></i>
            @if (currentUserName == pageUserName)
            {
                <span class="content">
                    У вас пока нет подписчиков
                </span>
            }
            else
            {
                <span class="content">
                    У пользователя пока нет подписчиков
                </span>
            }
        </h3>
    </div>
</script>
<script id="emptyFollowingsTmpl" type="text/x-jsrender">
    <div class="column">
        <h3 class="ui header" style="color: #6D6788">
            <i class="users icon"></i>
            <span class="content">
                Вы пока ни на кого не подписались
            </span>
        </h3>
    </div>
</script>
<script>
    var delPostId;
    function getCurrentTab(){
        var tab = window.location.hash.replace('#/', '').replace('#', '');
        if(tab == ''){
            return $('.ui.tabs .item.active').data('tab');
        }
        return tab;
    }
    function publishPost(postId){
        $.ajax({
            url: '@Url.Action("PublishPost", "Posts")' + '/' + postId,
            type: 'post',
            success: function (){
                window.location.reload();
            },
            error: function(){
                alert('Ошибка при попытке публикации');
            }
        });
    }
    function sendNotification(){
        $.ajax({
            url: '/api/notification',
            type: 'post',
            data: {
                NotificationType: @((byte)NotificationTypes.Follower),
                User: {
                    Id: '@Model.UserId'
                }
            }
        });
    }
    function addFollower(followingUserId, btn) {
        var $btn = $(btn);
        $btn.addClass('loading disabled');

        $.ajax({
            url: '/api/followers',
            type: 'post',
            data: '=' + followingUserId,
            success: function (resp) {
                $btn.hide();
                $btn.siblings().show();
                sendNotification();
            },
            error: function (jqXhr) {
                alert('Ошибка сервера');
            },
            complete: function(){
                $btn.removeClass('loading disabled');
            }
        });
        
    }
    function deleteFollower(followingUserId, btn) {
        var $btn = $(btn);
        $btn.addClass('loading disabled');

        $.ajax({
            url: '/api/followers',
            type: 'delete',
            data: '=' + followingUserId,
            success: function (resp) {
                $btn.hide();
                $btn.siblings().show();
            },
            error: function (jqXhr) {
                alert('Ошибка сервера');
            },
            complete: function(){
                $btn.removeClass('loading disabled');
            }
        });
    }
    function showDeletePostModal(postId){
        delPostId = postId;
        $('#confirmPostDelete').modal('show');
    }
    $(function () {
        $('#donateForm').form({
            on: 'submit',
            fields: {
                sum: {
                    rules: [
                        {
                            type: 'integer',
                            prompt: 'В качестве суммы укажите целое число'
                        }
                    ]
                },
                paymentType: {
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Выберите тип оплаты'
                        }
                    ]
                }
            }
        })
        var currentUser = '@currentUserName'
        var pageUser = '@pageUserName';

        if(currentUser != pageUser){
            var postsGrid = $('.tab[data-tab="posts"]').masonry();
        }
        var publishedPostsGrid = $('.tab[data-tab="posts/published"]').masonry();
        var draftsPostsGrid = $('.tab[data-tab="posts/drafts"]').masonry();

        @if(currentUserName == pageUserName)
        {
            <text>ViewHelper.activateSidebarItem('#userProfileItem')</text>
        }
        var deletePostModal = $('#confirmPostDelete').modal({
            onApprove: function() {
                var postId = delPostId;
                var deleteElem = $('.column[data-post-id="' + postId + '"]')[0];
                $.ajax({
                    url: '/posts/deletepost/' + postId,
                    type: 'post',
                    success: function (data) {
                        deleteElem.remove();
                        var tab = getCurrentTab();
                        $('.tab[data-tab="' + tab + '"]').masonry('layout');
                    },
                    error: function (jqXhr) {
                    }
                });
            }
        });
        var tabs = Tabs.initTabs({
            selector: '.ui.tabs .item',
            ajaxSettings: {
                type: 'post',
                dynamicData: function () {
                    return {
                        userId: '@Model.UserId',
                        sort: $('#sortDropDown').dropdown('get value') == ''
                            ? '0' : $('#sortDropDown').dropdown('get value')
                    }
                },
                beforeSuccess: function (resp) {
                    var jsonResp = JSON.parse(resp);
                    var currentTab = getCurrentTab();
                    if(jsonResp.data.length == 0){
                        if(currentTab == 'followers'){
                            return $('#emptyFollowersTmpl').html();
                        } else if(currentTab == 'followings'){
                            return $('#emptyFollowingsTmpl').html();
                        }
                    }
                    var status = @((byte)JsonResponseStatuses.Success);
                    if (jsonResp.status == status) {
                        var tabName = currentTab.split('/')[0];
                        var tmplName = tabName + 'Tmpl';
                        //У подписчиков, и тех, на кого подписан одинаковые шаблоны
                        if(tmplName == 'followingsTmpl'){
                            tmplName = 'followersTmpl';
                        }
                        //Для постов делаем красивенькое время(словами)
                        if(tmplName == 'postsTmpl'){
                            jsonResp.data.forEach(function(elem){
                                elem.LastEdit += elem.LastEdit[elem.LastEdit - 1] == 'Z' ? '' : 'Z';
                                elem.PublicTimeStr = ViewHelper.getPastTense(new Date(elem.LastEdit).getTime());
                            });
                        }
                        if(tabName == 'notifications'){
                            tmplName = 'eventTmpl';
                        }
                        var tmpl = $.templates('#' + tmplName);
                        if(tabName !== 'followers' && tabName !== 'followings'){
                            return tmpl.render(jsonResp.data) + $('#newPostTmpl').html();
                        }
                        return tmpl.render(jsonResp.data);
                    }
                    return 'Ошибка';
                },
                afterSuccess: function(item, tabContent){
                    tabContent.css('display', 'flex');
                    if($(item).data('tab') == 'posts' && currentUser != pageUser){
                        postsGrid.imagesLoaded(function(){
                            postsGrid.masonry('reloadItems').masonry('layout');
                        });
                    } else if($(item).data('tab') == 'posts/published'){
                        publishedPostsGrid.imagesLoaded(function(){
                            publishedPostsGrid.masonry('reloadItems').masonry('layout');
                        });
                    } else if($(item).data('tab') == 'posts/drafts'){
                        draftsPostsGrid.imagesLoaded(function(){
                            draftsPostsGrid.masonry('reloadItems').masonry('layout');
                        });
                    }
                    $('.post-item').dimmer({
                        on: 'hover',
                        opacity: 0.5
                    })
                }
            }
        });
        $('#sortDropDown').dropdown({
            onChange: function(){
                var tab = getCurrentTab();
                var item = $('.item[data-tab="' + tab + '"]');
                Tabs.loadTab(item);
            }
        });
        $('.ui.checkbox').checkbox();
    });
</script>