@using Mite.Constants
@using Mite.Extensions
@using Mite.Enums

<!DOCTYPE html>
<html style="height: 100% !important" lang="ru">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/icons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/icons/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#b540c6" />
    <meta name="msapplication-TileImage" content="~/Content/icons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#b540c6" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta charset="utf-8" />
    <noscript><meta http-equiv="refresh" content="0;URL=/home/badjs" /></noscript>
    @Styles.Render("~/Content/semantic", "~/Content/css")
    @RenderSection("styles", false)
    <title>@ViewBag.Title</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
    @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7675079294669395",
        enable_page_level_ads: true
        });
    </script>*@
</head>
<body class="pushable" style="height: 100% !important">
    @Scripts.Render("~/bundles/main", "~/bundles/site", "~/bundles/jsrender")
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45009220 = new Ya.Metrika({ id:45009220, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45009220" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-133112-6Ayto';</script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var notifyHub = $.connection.notifyHub;
            notifyHub.client.notifyUser = function (notification) {
                var $popup = $('#notify-popup');

                if ($popup.hasClass('initialized')) {
                    var data = JSON.parse(notification);
                    var dateIso = data.NotifyDate;
                    dateIso += dateIso[dateIso.length - 1] == 'Z' ? '' : 'Z';
                    data.DateStr = ViewHelper.getPastTense(new Date(dateIso).getTime());
                    var label = $('#notifications-item > .label');
                    label[0].innerHTML++;
                    var tmpl = $.templates('#eventTmpl');
                    var html = tmpl.render(data);
                    if ($popup.hasClass('empty')) {
                        $popup.html('<div class="ui feed">' + html + '</div>');
                        $popup.removeClass('empty');
                    } else {
                        $('#notify-popup > .feed').prepend(html);
                    }
                    $('#notifications-item').popup('reposition');
                    label.show();
                }
            }
            window.hubReady = $.connection.hub.start();
            function initPostsBtnHelper() {
                $.ajax({
                    url: '@Url.Action("GetHelper", "UserHelpers")',
                    dataType: 'json',
                    type: 'post',
                    success: function (resp) {
                        if (resp.status == undefined) {
                            resp = JSON.parse(resp);
                        }
                        if (!resp.data.PublicPostsBtn) {
                            var $postsBtn = $('#publicPostsBtn');
                            $postsBtn.popup({
                                on: 'manual',
                                position: 'right center',
                                content: 'Публикации здесь =)',
                                position: 'bottom left',
                                variation: 'wide small'
                            });
                            $postsBtn.popup('show');
                            $postsBtn.click(function (ev) {
                                $postsBtn.popup('hide');
                                $.ajax({
                                    url: '@Url.Action("InitHelper", "UserHelpers")',
                                    data: {
                                        helperType: '@HelperTypes.PublicationsBtn'
                                    }
                                })
                            });
                        }
                    }
                });
            }
        </script>
        <div class="ui right sidebar vertical borderless menu">
            <div class="acc-header">
                <img class="ui tiny circular side-avatar image" src="@User.GetClaimValue(ClaimConstants.AvatarSrc)">
                <h3 class="ui center aligned header">@User.Identity.Name</h3>
            </div>
            @if (User.IsInRole("moder"))
            {
                @Html.ActionLink("Панель модератора", "Index", "Moder", null, new { id = "moderPanelItem", @class = "item" })
            }
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Панель администратора", "Index", "Admin", null, new { id = "adminPanelItem", @class = "item" })
            }
            <a href="/user/profile/@User.Identity.Name" class="violet item" id="userProfileItem">
                <i class="user icon"></i>Моя страница
            </a>
            <a href="@Url.RouteUrl("AddPost", new { postType = PostTypes.Image.ToString().ToLower() })" class="violet item" id="editImageItem">
                <i class="image icon"></i>Добавить изобр.
            </a>
            <a href="@Url.RouteUrl("AddPost", new { postType = PostTypes.Document.ToString().ToLower() })" class="violet item" id="editDocItem">
                <i class="newspaper icon"></i>Добавить документ
            </a>
            <a class="violet item" id="notifications-item">
                <i class="feed icon"></i>
                Уведомления
                <div class="ui right violet label" style="display: none">
                    0
                </div>
            </a>
            <div class="ui popup" id="notify-popup" style="width: 400px; min-height: 50px;">
                <div class="ui active loader" id="notify-loader"></div>
            </div>
            <a href="@Url.Action("Index", "UserSettings")" class="violet item" id="userSettingsItem">
                <i class="settings icon"></i>
                Настройки
            </a>
            <a href="@Url.Action("Index", "Cash")" class="violet item" id="cashItem">
                <i class="ruble icon"></i>
                Счёт
            </a>
            <a class="ui red logoff fluid button" href="@Url.Action("LogOff", "Account")">
                <i class="sign out icon"></i>
                Выйти
            </a>
        </div>
    }
    <div class="pusher">
        <header class="ui fixed borderless menu">
            <div class="ui container">
                <a href="@Url.Action("Index", "Home")" class="header main item" id="publicPostsBtn">
                    <img class="logo" src="/Content/images/mite-logo-icon.png" alt="Логотип"/>
                </a>
                <a href="/posts/top?tags=арт" class="computer tablet only item">Арт</a>
                <a href="/posts/top?tags=литература" class="computer tablet only item">Литература</a>
                <a href="/posts/top?tags=фото" class="computer tablet only item">Фото</a>
                @if (Request.IsAuthenticated)
                {
                    <div class="right menu">
                        <div class="item">
                            <div class="ui dropdown top right pointing violet button" id="addPostMenu" style="">
                                Добавить
                                <div class="menu">
                                    <a href="@Url.RouteUrl("AddPost", new { postType = PostTypes.Image.ToString().ToLower() })" class="item">
                                        <i class="image icon"></i>Изображение
                                    </a>
                                    <a href="@Url.RouteUrl("AddPost", new { postType = PostTypes.Document.ToString().ToLower() })" class="item">
                                        <i class="newspaper icon"></i>Документ
                                    </a>
                                </div>
                            </div>
                        </div>
                        <a class="item menu-btn"><i class="list layout icon"></i>Меню</a>
                    </div>
                }
                else
                {
                    <div class="right menu">
                        <div class="item">
                            @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "ui button primary", Id = "login-btn" })
                        </div>
                        <div class="item">
                            @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "ui blue button", Id = "reg-btn" })
                        </div>
                    </div>
                }
            </div>
        </header>
        <article class="ui container">
            @RenderBody()
        </article>
        <footer>
            <div class="ui computer tablet only grid container">
                <div class="row">
                    <div class="center aligned column">
                        <div class="ui inverted horizontal link list">
                            <div class="item">Мы в социальных сетях:</div>
                            <div class="item">
                                <a href="https://vk.com/mitegroup" class="ui circular inverted vk icon button"><i class="vk icon"></i></a>
                            </div>
                            <div class="item">
                                <a href="https://twitter.com/fanmitegroup" class="ui circular inverted twitter icon button"><i class="twitter icon"></i></a>
                            </div>
                            <div class="item">
                                <a href="https://facebook.com/fanmitegroup" class="ui circular inverted facebook icon button"><i class="facebook icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui fitted inverted divider" style="margin: 0"></div>
                <div class="row">
                    <div class="ten wide column">
                        <div class="ui inverted horizontal link list">
                            @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                            @Html.ActionLink("Условия пользования", "Terms", "Home", null, new { @class = "item" })
                            @Html.ActionLink("Политика конфиденциальности", "Privacy", "Home", null, new { @class = "item" })
                        </div>
                    </div>
                    <div class="six wide right aligned column">
                        <div class="ui inverted horizontal link list">
                            <a href="/" class="item">&copy; MiteGroup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui mobile only grid center aligned container">
                <div class="ui basic segment" style="padding-top: 0">
                    <div class="ui inverted divided list">
                        @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Условия пользования", "Terms", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Политика конфиденциальности", "Privacy", "Home", null, new { @class = "item" })
                        <a href="/" class="item">&copy; MiteGroup</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script id="eventTmpl" type="text/x-jsrender">
        <div class="event">
            <div class="label">
                <img src="{{:NotifyUser.AvatarSrc}}">
            </div>
            <div class="content">
                <div class="summary">
                    {{:Content}}
                    <div class="date">
                        {{:DateStr}}
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
        function readNotifications() {
            $.ajax({
                url: '/api/notification',
                type: 'put'
            });
        }
        function initNotifications() {
            var $popup = $('#notify-popup');

            $.ajax({
                url: '/api/notification/',
                type: 'get',
                data: 'onlyNew=true',
                success: function (resp) {
                    if (resp.length > 0) {
                        //Ставим счетчик
                        $('#notifications-item .label').html(resp.length).show();
                        resp.forEach(function (item) {
                            item.DateStr = ViewHelper.getPastTense(new Date(item.NotifyDate).getTime());
                        });
                        //Рендерим уведомления
                        var html = '<div class="ui feed">' + $.templates('{{for tmpl="#eventTmpl" /}}').render(resp) + '</div>';
                        $popup.html(html);
                        $('#notifications-item').popup('reposition');
                    } else {
                        $popup.addClass('empty');
                        var emptyMsg = 'У вас пока нет новых уведомлений. <a href="@Url.Action("Notifications", "UserProfile")">Посмотреть все.</a>';
                        $popup.html(emptyMsg);
                    }
                }
            }).then(function () {
                $popup.addClass('initialized');
            });

            $('#notifications-item').popup({
                position: 'left center',
                on: 'click',
                popup: '#notify-popup',
                inline: true,
                variation: 'basic',
                onShow: function (item) {
                    $(item).addClass('active');
                    readNotifications();
                },
                onHide: function (item) {
                    $(item).removeClass('active');
                    this.addClass('empty');
                    var emptyMsg = 'У вас пока нет новых уведомлений. <a href="@Url.Action("Notifications", "UserProfile")">Посмотреть все.</a>';
                    this.html(emptyMsg);
                    //Обнуляем и скрываем счетчик уведомлений
                    $(item).children('.label').html(0).hide();
                },
                onUnplaceable: function ($module) {
                    if (!location.href.includes('notifications')) {
                        location.href = '/user/notifications';
                    }
                }
            });
        }
        $(function () {
            $('article').css('margin-bottom', $('footer').height() + 50 + 'px');
            initPostsBtnHelper();
            $('#addPostMenu').dropdown({
                action: 'nothing'
            });
            $(".ui.sidebar").sidebar({
                onShow: function () {
                    $(this).css('z-index', '200');
                },
                onHide: function () {
                    $(this).css('z-index', '1');
                }
            });
            $(".ui.sidebar").sidebar("attach events", ".menu-btn");
            $(".ui.accordion").accordion();
            initNotifications();
            $('#notify-popup').perfectScrollbar();
        });
    </script>
</body>
</html>
