@using Mite.Constants
@using Mite.Extensions
@using Mite.Enums

<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/icons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/icons/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#b540c6" />
    <meta name="msapplication-TileImage" content="~/Content/icons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#b540c6" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @Styles.Render("~/Content/semantic", "~/Content/css")
    @RenderSection("styles", false)
    <title>@ViewBag.Title</title>
</head>
<body class="pushable">
    @Scripts.Render("~/bundles/main", "~/bundles/site", "~/bundles/jsrender")
    <script src="~/signalr/hubs"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
        var notifyHub = $.connection.notifyHub
        notifyHub.client.notifyUser = function (notification) {
            var $popup = $('#notify-popup');

            if ($popup.hasClass('initialized')) {
                var data = JSON.parse(notification);
                data.DateStr = ViewHelper.getPastTense(new Date(data.NotifyDate).getTime());
                var label = $('#notifications-item > .label');
                label[0].innerHTML++;
                var tmpl = $.templates('#eventTmpl');
                var html = tmpl.render(data);
                if ($popup.hasClass('empty')) {
                    $popup.html('<div class="ui feed">' + html + '</div>');
                    $popup.removeClass('empty');
                } else {
                    $('#notify-popup > .feed').prepend(html);
                }
                $('#notifications-item').popup('reposition');
                label.show();
            }
        }
        window.hubReady = $.connection.hub.start();
        </script>
    }
    @if (Request.IsAuthenticated)
    {
        <div class="ui right sidebar vertical borderless menu">
            <div class="acc-header">
                <img class="ui tiny circular side-avatar image" src="@User.GetClaimValue(ClaimConstants.AvatarSrc)">
                <h3 class="ui center aligned header">@User.Identity.Name</h3>
            </div>
            @if (User.IsInRole("moder"))
            {
                @Html.ActionLink("Панель модератора", "Index", "Moder", null, new { id = "moderPanelItem", @class = "item" })
            }
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Панель администратора", "Index", "Admin", null, new { id = "adminPanelItem", @class = "item" })
            }
            <a href="/user/profile/@User.Identity.Name" class="violet item" id="userProfileItem">
                <i class="user icon"></i>Моя страница
            </a>
            <a href="@Url.Action("AddPost", "Posts")?postType=@PostTypes.Image.ToString().ToLower()" class="violet item" id="editImageItem">
                <i class="image icon"></i>Добавить изображение
            </a>
            <a href="@Url.Action("AddPost", "Posts")?postType=@PostTypes.Document.ToString().ToLower()" class="violet item" id="editDocItem">
                <i class="file text outline icon"></i>Добавить документ
            </a>
            <a class="violet item" id="notifications-item">
                <i class="feed icon"></i>
                Уведомления
                <div class="ui right violet label" style="display: none">
                    0
                </div>
            </a>
            <div class="ui popup" id="notify-popup" style="width: 400px; min-height: 50px;">
                <div class="ui active loader" id="notify-loader"></div>
            </div>
            <a href="@Url.Action("Index", "UserSettings")" class="violet item" id="userSettingsItem">
                <i class="settings icon"></i>
                Настройки
            </a>
            <a class="ui red logoff fluid button" href="@Url.Action("LogOff", "Account")">
                <i class="sign out icon"></i>
                Выйти
            </a>
        </div>
    }
    <div class="pusher">
        <header class="ui fixed borderless menu">
            <div class="ui container">
                <a href="@Url.Action("Index", "Home")" class="header main item">
                    <img class="logo" src="/Content/images/mite-logo-icon.png" alt="Логотип"/>
                </a>
                @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "item" })
                @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                @Html.ActionLink("Поддержать нас", "Donate", "Home", null, new { @class = "item" })
                @if (Request.IsAuthenticated)
                {
                    <div class="right menu">
                        <a class="item menu-btn"><i class="list layout icon"></i>Меню</a>
                    </div>
                }
                else
                {
                    <div class="right menu">
                        <div class="item">
                            @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "ui button primary", Id = "login-btn" })
                        </div>
                        <div class="item">
                            @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "ui blue button", Id = "reg-btn" })
                        </div>
                    </div>
                }
            </div>
        </header>
        <article class="ui container">
            @RenderBody()
        </article>
        <footer>
            <div class="ui two column grid container">
                <div class="column">
                    <div class="ui inverted horizontal link list">
                        <a href="https://vk.com/mitegroup" class="item">Мы ВКонтакте</a>
                        @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Поддержать проект", "Donate", "Home", null, new { @class = "item" })
                    </div>
                </div>
                <div class="right aligned column">
                    <div class="ui inverted horizontal link list">
                        <a href="/" class="item">&copy; MiteGroup</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script id="eventTmpl" type="text/x-jsrender">
        <div class="event">
            <div class="label">
                <img src="{{:NotifyUser.AvatarSrc}}">
            </div>
            <div class="content">
                <div class="summary">
                    {{:Content}}
                    <div class="date">
                        {{:DateStr}}
                    </div>
                </div>
            </div>
        </div>
    </script>
    
    <script>
        function loadNotificationsCount() {
            $.ajax({
                url: '/api/notification',
                type: 'delete',
                success: function (resp) {
                    if (+resp > 0) {
                        $('#notifications-item .label').html(resp).show();
                    }
                },
                error: function (jqXhr) {
                    alert('Ошибка при загрузке уведомлений');
                }
            });
        }
        function readNotifications() {
            $.ajax({
                url: '/api/notification',
                type: 'put'
            });
        }
        function initNotifications() {
            var $popup = $('#notify-popup');

            $.ajax({
                url: '/api/notification/',
                type: 'get',
                success: function (resp) {
                    if (resp.length > 0) {
                        resp.forEach(function (item) {
                            item.DateStr = ViewHelper.getPastTense(new Date(item.NotifyDate).getTime());
                        });
                        //Рендерим уведомления
                        var html = '<div class="ui feed">' + $.templates('{{for tmpl="#eventTmpl" /}}').render(resp) + '</div>';
                        $popup.html(html);
                        $(item).popup('reposition');
                    } else {
                        $popup.addClass('empty');
                        $popup.html('У вас пока нет новых уведомлений.');
                    }
                }
            }).then(function () {
                $popup.addClass('initialized');
            });

            $('#notifications-item').popup({
                position: 'left center',
                on: 'click',
                popup: '#notify-popup',
                inline: true,
                variation: 'basic',
                onShow: function (item) {
                    $(item).addClass('active');
                    readNotifications();
                },
                onHide: function (item) {
                    $(item).removeClass('active');
                    this.addClass('empty');
                    this.html('У вас пока нет новых уведомлений.');
                    //Обнуляем и скрываем счетчик уведомлений
                    $(item).children('.label').html(0).hide();
                }
            });
        }
        $(function () {
            loadNotificationsCount();
            $(".ui.sidebar").sidebar({
                onShow: function () {
                    $(this).css('z-index', '200');
                },
                onHide: function () {
                    $(this).css('z-index', '1');
                }
            });
            $(".ui.sidebar").sidebar("attach events", ".menu-btn");
            $(".ui.accordion").accordion();
            initNotifications();
            $('#notify-popup').perfectScrollbar();
        });
    </script>
</body>
</html>
