@using Mite.CodeData.Constants
@using Mite.Extensions
@using Mite.Helpers
@using Mite.CodeData.Enums
@using Microsoft.AspNet.Identity
@using Mite.BLL.Services
@using Mite.Models

@{ 
    var isMobile = ViewHelper.IsMobileDevice(Request);
    var currentUserId = User.Identity.GetUserId();
    var layoutModel = new LayoutModel();
    if (User.Identity.IsAuthenticated)
    {
        layoutModel = DependencyResolver.Current.GetService<ILayoutService>().GetModel(currentUserId);
    }
}
<!DOCTYPE html>
<html style="height: 100% !important" lang="ru">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/icons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/icons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/icons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/icons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/icons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/icons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/icons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/icons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/icons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/icons/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/icons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/icons/favicon-16x16.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100&amp;subset=cyrillic" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#b540c6" />
    <meta name="msapplication-TileImage" content="~/Content/icons/ms-icon-144x144.png" />
    <meta name="theme-color" content="#b540c6" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <!--Остальные мета-теги-->
    @RenderSection("meta", false)
    <meta charset="utf-8" />
    @if (Request.Path.ToLower() != Url.Action("BadJs", "Home"))
    {
        <noscript><meta http-equiv="refresh" content="0;URL=/home/badjs" /></noscript>
    }
    @Styles.Render("~/Content/semantic", "~/Content/css")
    @RenderSection("styles", false)
    <title>@ViewBag.Title</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>
</head>
<body class="pushable" style="height: 100% !important">
    @Scripts.Render("~/bundles/jquery", "~/bundles/semantic", "~/bundles/site", "~/bundles/jsrender")
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45009220 = new Ya.Metrika({ id:45009220, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45009220" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-133112-6Ayto';</script>
    <script>
        Settings.init();
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var notifyHub = $.connection.notifyHub;
            notifyHub.client.notifyUser = function (notification) {
                var $popup = $('.notify.popup'),
                    data = JSON.parse(notification),
                    dateIso = data.NotifyDate;
                dateIso += dateIso[dateIso.length - 1] == 'Z' ? '' : 'Z';
                data.DateStr = ViewHelper.getPastTense(new Date(dateIso).getTime());
                var label = $('.notifications.item>.label');
                label[0].innerHTML++;
                label[1].innerHTML++;
                var tmpl = $.templates('#eventTmpl'),
                    html = tmpl.render(data);
                if ($popup.hasClass('empty')) {
                    $popup.html('<div class="ui feed">' + html + '</div>');
                    $popup.removeClass('empty');
                } else {
                    $('.notify.popup > .feed').prepend(html);
                }
                $('.user-menu>.notifications.item').popup('reposition');
                label.show();
            }
            notifyHub.client.addMessage = function (msg) {
                if (location.pathname.indexOf('/user/chats') !== -1)
                    return;
                msg = JSON.parse(msg);
                $('.user-chats.item').show()[0].innerHTML++;
                iziToast.show({
                    title: ViewHelper.truncStr(msg.Sender.UserName, 15),
                    message: ChatsHelper.truncChatItemMessage(msg.Message, 30),
                    layout: 2,
                    icon: 'mail icon',
                    theme: 'dark',
                    iconColor: '#b540c6',
                    progressBarColor: '#b540c6'
                });
            }
            window.hubReady = $.connection.hub.start();
        </script>
        <div class="ui right sidebar vertical borderless menu">
            <div class="acc-header">
                <img class="ui tiny circular side-avatar image" src="@User.Identity.GetClaimValue(ClaimConstants.AvatarSrc)">
                <h3 class="ui center aligned header">@User.Identity.Name</h3>
            </div>
            @if (User.IsInRole("moder"))
            {
                @Html.ActionLink("Панель модератора", "Index", "Moder", null, new { id = "moderPanelItem", @class = "item" })
            }
            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Панель администратора", "Index", "Admin", null, new { id = "adminPanelItem", @class = "item" })
            }
            <a href="/user/profile/@User.Identity.Name" class="violet user-profile item">
                <i class="user icon"></i>Моя страница
            </a>
            <div class="ui item accordion">
                <i class="dropdown icon"></i>
                <div class="title">Добавить</div>
                <div class="content">
                    @if (User.IsInRole(RoleNames.Author))
                    {
                        <div class="vertical menu">
                            @Html.RouteLink("Изображение", "AddPost", new { postType = PostContentTypes.Image.ToString().ToLower() }, new { @class = "item", title = "Арт, фото" })
                            @Html.RouteLink("Документ", "AddPost", new { postType = PostContentTypes.Document.ToString().ToLower() }, new { @class = "item", title = "Статьи, рассказы, стихи" })
                            @Html.RouteLink("Коллекцию", "AddPost", new { postType = PostContentTypes.ImageCollection.ToString().ToLower() }, new { @class = "item", title = "Коллекция изображений" })
                            @Html.RouteLink("Комикс", "AddPost", new { postType = PostContentTypes.Comics.ToString().ToLower() }, new { @class = "item", title = "Комиксы" })
                            @Html.ActionLink("Услугу", "Add", "AuthorServices", null, new { @class = "item", title = "Услуги" })
                            @Html.ActionLink("Заказ", "Add", "Orders", null, new { @class = "item", title = "Заказы" })
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("Заказ", "Add", "Orders", null, new { @class = "item", title = "Заказы" })
                    }
                </div>
            </div>
            <a class="violet user-chats item" href="@Url.Action("UserChats", "Chats")">
                <i class="mail icon"></i>Сообщения
                <div class="ui right violet label" @Html.Raw(layoutModel.NewMessagesCount > 0 ? "" : "style=\"display:none\"")>
                    @layoutModel.NewMessagesCount
                </div>
            </a>
            <a class="violet notifications item" href="/user/notifications">
                <i class="feed icon"></i>Уведомления
                <div class="ui right violet label" style="display: none">0</div>
            </a>
            <a href="@Url.Action("Index", "UserSettings")" class="violet user-settings item">
                <i class="settings icon"></i>Настройки
            </a>
            <a href="@Url.Action("Index", "UserOrders")" class="violet orders item">
                <i class="book icon"></i>Заказы
            </a>
            <a href="@Url.Action("Index", "UserDeals")" class="violet deals item">
                <i class="handshake icon"></i>Сделки
                @if (layoutModel.NewDealsCount > 0)
                {
                    <div class="ui right violet label">@layoutModel.NewDealsCount</div>
                }
                else
                {
                    <div class="ui right violet label" style="display: none">@layoutModel.NewDealsCount</div>
                }
            </a>
            <a href="@Url.Action("Index", "Cash")" class="violet item" id="cashItem">
                <i class="ruble icon"></i>
                Счёт
            </a>
            <a class="ui red logoff fluid button" href="@Url.Action("LogOff", "Account")">
                <i class="sign out icon"></i>
                Выйти
            </a>
        </div>
    }
    <div class="pusher">
        <header class="ui fixed borderless menu">
            <div class="ui container">
                @if (isMobile)
                {
                    <div class="ui floating dropdown header main item" id="mainMenu">
                        <img class="logo" src="/Content/images/mite-logo-icon.png" />
                        <div class="menu">
                            @Html.ActionLink("Работы", "Top", "Posts", null, new { @class = "item" })
                            @Html.ActionLink("Услуги", "Top", "AuthorServices", null, new { @class = "item" })
                            @Html.ActionLink("Товары", "Top", "Products", null, new { @class = "item" })
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.ActionLink("Заказы", "Top", "Orders", null, new { @class = "item" })
                            }
                        </div>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("Index", "Home")" class="header main item"
                       data-content="@Html.Raw(User.Identity.IsAuthenticated ? "Публикации" : "Главная")">
                        <img class="logo" src="/Content/images/mite-logo-icon.png" alt="Логотип" />
                    </a>
                    @Html.ActionLink("Услуги", "Top", "AuthorServices", null, new { @class = "item" })
                    @Html.ActionLink("Товары", "Top", "Products", null, new { @class = "item" })
                }
                @if (User.Identity.IsAuthenticated)
                {
                    if (!isMobile)
                    {
                        @Html.ActionLink("Заказы", "Top", "Orders", null, new { @class = "item" })
                    }
                    <div class="right menu">
                        @if (isMobile)
                        {
                            <a class="item menu-btn"><i class="list layout icon"></i>Меню</a>
                        }
                        else
                        {
                            <div class="item" style="padding: 0">
                                <div class="ui small search" id="pagesSearch">
                                    <div class="ui small icon input">
                                        <input class="prompt" placeholder="Поиск по страницам" type="text" />
                                        <i class="search icon"></i>
                                    </div>
                                    <div class="results"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ui dropdown top right pointing violet button" id="addPostMenu">
                                    Добавить
                                    <div class="menu">
                                        @if (User.IsInRole(RoleNames.Author))
                                        {
                                            @Html.RouteLink("Изображение", "AddPost", new { postType = PostContentTypes.Image.ToString().ToLower() }, new { @class = "item", title = "Арт, фото" })
                                            @Html.RouteLink("Документ", "AddPost", new { postType = PostContentTypes.Document.ToString().ToLower() }, new { @class = "item", title = "Статьи, рассказы, стихи" })
                                            @Html.RouteLink("Коллекцию", "AddPost", new { postType = PostContentTypes.ImageCollection.ToString().ToLower() }, new { @class = "item", title = "Коллекция изображений" })
                                            @Html.RouteLink("Комикс", "AddPost", new { postType = PostContentTypes.Comics.ToString().ToLower() }, new { @class = "item", title = "Комиксы, манга" })
                                            @Html.ActionLink("Услугу", "Add", "AuthorServices", null, new { @class = "item", title = "Услуги" })
                                            @Html.ActionLink("Заказ", "Add", "Orders", null, new { @class = "item", title = "Заказы" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Заказ", "Add", "Orders", null, new { @class = "item", title = "Заказы" })
                                        }
                                    </div>
                                </div>
                            </div>
                            <a class="item menu-btn" style="display: none"><i class="list layout icon"></i>Меню</a>
                        }
                    </div>
                }
                else
                {
                    <div class="right menu">
                        <div class="item">
                            @Html.ActionLink("Вход", "Login", "Account", null, new { @class = "ui button primary" })
                        </div>
                        <div class="item">
                            @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "ui blue button" })
                        </div>
                    </div>
                }
            </div>
        </header>
        <article class="ui container">
            @RenderBody()
        </article>
        @if (User.Identity.IsAuthenticated)
                {
            <div class="ui right fixed vertical icon user-menu menu">
                @if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("Index", "Admin")" class="violet admin-panel item" data-content="Панель администратора">
                        <i class="spy icon"></i>
                    </a>
                }
                @if (User.IsInRole(RoleNames.Moderator))
                {
                    <a href="@Url.Action("Index", "Moder")" class="violet moder-panel item" data-content="Панель модератора">
                        <i class="user circle outline icon"></i>
                    </a>
                }
                <a href="@Url.Action("Index", "UserProfile", new { name = User.Identity.Name })" class="violet user-profile item" data-content="Пользователь">
                    <i class="user icon"></i>
                </a>
                <a href="@Url.Action("UserChats", "Chats")" class="violet user-chats item" data-content="Сообщения">
                    <i class="mail icon"></i>
                    <div class="ui floating right violet label" @Html.Raw(layoutModel.NewMessagesCount > 0 ? "" : "style=\"display:none\"")>
                        @layoutModel.NewMessagesCount
                    </div>
                </a>
                <a class="violet notifications item">
                    <i class="feed icon"></i>
                    <div class="ui floating right violet label" style="display: none">
                        0
                    </div>
                </a>
                @{ Html.RenderAction("UserNotifications", "Notification", new { onlyNew = true }); }
                <a href="@Url.Action("Index", "UserSettings")" class="violet user-settings item" data-content="Настройки">
                    <i class="settings icon"></i>
                </a>
                <a href="@Url.Action("Index", "UserOrders")" class="violet orders item" data-content="Заказы">
                    <i class="book icon"></i>
                </a>
                <a class="violet deals item" href="@Url.Action("Index", "UserDeals")" data-content="Сделки">
                    <i class="handshake outline icon"></i>
                    @if(layoutModel.NewDealsCount > 0)
                    {
                        <div class="ui violet floating label">@layoutModel.NewDealsCount</div>
                    }
                    else
                    {
                        <div class="ui violet floating label" style="display: none">@layoutModel.NewDealsCount</div>
                    }
                </a>
                <a href="@Url.Action("Index", "Cash")" class="violet cash item" data-content="Счёт">
                    <i class="ruble icon"></i>
                </a>
                <a class="red logof item" href="@Url.Action("LogOff", "Account")" data-content="Выйти">
                    <i class="sign out icon"></i>
                </a>
            </div>
        }
        <footer>
            <div class="ui computer tablet only grid container">
                <div class="row">
                    <div class="ten wide column">
                        <div class="ui inverted horizontal link list" role="list">
                            @*@Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item", role = "listitem" })*@
                            @Html.ActionLink("FAQ", "Faq", "Home", null, new { @class = "item", role = "listitem" })
                            @Html.ActionLink("Условия пользования", "Terms", "Home", null, new { @class = "item", role = "listitem" })
                            @Html.ActionLink("Политика конфиденциальности", "Privacy", "Home", null, new { @class = "item", role = "listitem" })
                        </div>
                    </div>
                    <div class="six wide right aligned column">
                        <div class="ui inverted horizontal link list">
                            <a href="/" class="item">&copy; MiteGroup</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui mobile only grid center aligned container">
                <div class="ui basic segment" style="padding-top: 0">
                    <div class="ui inverted divided list" role="list">
                        @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Условия пользования", "Terms", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Политика конфиденциальности", "Privacy", "Home", null, new { @class = "item" })
                        <a href="/" class="item">&copy; MiteGroup</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="ui tiny modal" id="userReviewModal">
        <div class="header">Помогите нам стать лучше</div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <textarea id="reviewText" rows="3" placeholder="Что добавить? Что убрать? Что упростить?"></textarea>
                </div>
            </form>
        </div>
        <div class="actions">
            <button class="ui violet ok button">Отправить</button>
            <button class="ui blue deny button">Всё идеально</button>
        </div>
    </div>
    <script id="eventTmpl" type="text/x-jsrender">
        <div class="event">
            <div class="label">
                <img src="{{:NotifyUser.AvatarSrc}}">
            </div>
            <div class="content">
                <div class="summary">
                    {{:Content}}
                    <div class="date">
                        {{:DateStr}}
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
    @if(User.Identity.IsAuthenticated && !layoutModel.EmailConfirmed && !layoutModel.HasExternalLogins && !Request.Path.ToLower().Contains("user/settings"))
    {
        <text>
        if (localStorage.getItem('hideEmailConfirmWarn') !== 'true') {
            iziToast.warning({
                title: 'E-mail не подтвержден!',
                message: 'При утере пароля вы не сможете восстановить доступ.',
                buttons: [
                    ['<button>Подтвердить</button>', function () {
                        location.href = '@Url.Action("Security", "UserSettings")';
                    }],
                    ['<button>Больше не показывать</button>', function (inst, toast) {
                        localStorage.setItem('hideEmailConfirmWarn', 'true');
                        inst.hide(toast);
                    }]
                ],
                position: 'topLeft',
                //maxWidth: 300,
                timeout: false
            });
        }
        </text>
    }
/**/
        @if (!layoutModel.ReviewLeft && layoutModel.RegisterDayLeft)
    {
        <text>
        $('#userReviewModal').modal({
            onApprove: function () {
                UserReviewsApi.add($('#reviewText').val());
            },
            onDeny: function () {
                UserReviewsApi.add(null);
            }
        }).modal('show');
        </text>
    }
        $(function () {
            PageSearch.currentUserName = '@(User.Identity.Name ?? "")';
            PageSearch.init('#pagesSearch', @User.IsInRole(RoleNames.Author).ToString().ToLower());
            $('article').css('margin-bottom', $('footer').height() + 50 + 'px');
            $('#addPostMenu').dropdown({
                action: 'nothing'
            });
            $('#mainMenu').dropdown({
                action: 'nothing'
            });
            $(".ui.sidebar").sidebar({
                onShow: function () {
                    $(this).css('z-index', '200');
                },
                onHide: function () {
                    $(this).css('z-index', '1');
                }
            });
            $(".ui.sidebar").sidebar("attach events", ".menu-btn");
            $(".ui.accordion").accordion();
            $('.user-menu.menu>.item:not(.notifications)').popup({
                variation: 'small basic',
                position: 'left center',
                inline: true,
            });
            $('.user-menu>.notifications.item').popup({
                position: 'left center',
                on: 'click',
                popup: '.notify.popup',
                inline: true,
                variation: 'basic',
                onShow: function (item) {
                    $(item).addClass('active');
                    $.ajax({
                        url: '/api/notification',
                        type: 'put'
                    });
                },
                onHide: function (item) {
                    $(item).removeClass('active');
                    this.addClass('empty');
                    var emptyMsg = 'У вас пока нет новых уведомлений. <a href="@Url.Action("Notifications", "UserProfile")">Посмотреть все.</a>';
                    this.html(emptyMsg);
                    //Обнуляем и скрываем счетчик уведомлений
                    $(item).children('.label').html(0).hide();
                }
            });
            $('.header.main.item').popup({
                variation: 'small basic',
                position: 'bottom left',
                inline: true
            });
        });
    </script>
    @RenderSection("scripts", false)
</body>
</html>
