@using Mite.Models
@using Microsoft.AspNet.Identity
@using Mite.CodeData.Enums
@model CashModel
@{
    ViewBag.Title = "Счёт";
}
<div class="ui stackable grid">
    <div class="four wide column">
        <div class="ui segment">
            <h2 class="ui dividing header">
                @Model.CashSum &#8381;
            </h2>
            <nav class="ui two item tabs menu">
                <a class="active item" data-tab="payIn">Ввод</a>
                <a class="item" data-tab="payOut">Вывод</a>
            </nav>
            <div class="ui active tab" data-tab="payIn">
                @Html.EnumDropDownListFor(x => x.PaymentType, new { @class = "ui margined selection fluid dropdown" })
                <div class="ui tab" data-tab="payIn/yandex">
                    @if (Model.IsYandexAuthorized)
                    {
                        Html.RenderPartial("PayInYandex", new YaPayInModel());
                    }
                    else
                    {
                        <button type="submit" class="ui primary button" form="yaAuth" id="yaAuthBtn">
                            Авторизовать Яндекс.Деньги
                        </button>
                    }
                </div>
                <div class="ui tab" data-tab="payIn/webmoney">
                    @{ Html.RenderPartial("PayInWebmoney", new WmPayInModel()); }
                </div>
                <div class="ui tab" data-tab="payIn/wmconfirm">
                    @{ Html.RenderPartial("PayInWebmoneyConfirm", new WmPayInConfirmModel()); }
                </div>
                <div class="ui tab" data-tab="payIn/bank">
                    @{ Html.RenderPartial("PayInBankCard", new BankPayInModel()); }
                </div>
            </div>
            <div class="ui tab" data-tab="payOut">
                <div class="ui active tab" data-tab="payOut/yandex">
                    @if (Model.IsYandexAuthorized)
                    {
                        Html.RenderPartial("PayOutYandex", new YaPayOutModel());
                    }
                    else
                    {
                        <form action="https://money.yandex.ru/oauth/authorize" method="post" id="yaAuth">
                            <input type="hidden" name="client_id" value="@Model.ClientId" />
                            <input type="hidden" name="response_type" value="code" />
                            <input type="hidden" name="redirect_uri" value="@Model.RedirectUri" />
                            <input type="hidden" name="scope" value="account-info payment.to-account(&quot;@Model.SystemYandexWallet&quot;)" />
                            <button type="submit" class="ui primary button" @*form="yaAuth"*@>Авторизовать Яндекс.Деньги</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui segment">
            <nav class="ui secondary stackable tabs menu" style="border: none">
                <a class="active item" data-tab="payhistory">История операций</a>
                @if (User.IsInRole(RoleNames.Author))
                {
                    <a class="item" data-tab="ad">Реклама</a>
                }
            </nav>
            <div class="ui active loading tab" data-tab="payhistory"></div>
            <div class="ui loading tab" data-tab="referals"></div>
            @if (User.IsInRole(RoleNames.Author))
            {
                <div class="ui tab" data-tab="ad">
                    @{Html.RenderAction("Advertising");}
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/clipboard", "~/bundles/api", "~/bundles/inputmask")
}
<script id="paymentsTmpl" type="text/x-jsrender">
    <table class="ui inverted violet table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Тип платежа</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {{if data.length > 0}}
            {{for data}}
            <tr class="">
                <td>{{:Date}}</td>
                <td>{{:Type}}</td>
                {{if Sum > 0}}
                <td>+{{:Sum}} &#8381;</td>
                {{else}}
                <td>{{:Sum}} &#8381;</td>
                {{/if}}
            </tr>
            {{/for}}
            {{else}}
            <tr>
                <td colspan="3">
                    <h4 class="ui centered inverted header">Вы пока не провели никаких операций.</h4>
                </td>
            </tr>
            {{/if}}
        </tbody>
    </table>
</script>
@*
    Форма яндекса для авторизации
*@

<script>
    function loadPayments(){
        $.ajax({
            type: 'post',
            url: '/cash/paymentshistory',
            success: function (resp) {
                if (resp.status == undefined) {
                    resp = JSON.parse(resp);
                }
                var dateOptions = {
                    year: 'numeric',
                    day: 'numeric',
                    month: 'long',
                    hour: 'numeric',
                    minute: 'numeric'
                };
                resp.data.forEach(function (elem) {
                    var dateIso = elem.Date;
                    dateIso += dateIso[dateIso.length - 1] == 'Z' ? '' : 'Z';

                    elem.Date = new Date(dateIso).toLocaleString("ru", dateOptions);
                });
                var tmpl = $.templates('#paymentsTmpl');
                var html = tmpl.render(resp);
                $('.tab[data-tab="payhistory"]').html(html);
                $('.tab[data-tab="payhistory"]').removeClass('loading');
            }
        });
    }
    $(function () {
        loadPayments();
        $('.ui.checkbox').checkbox();
        $('.cash.item').addClass('active');
        $('.tab[data-tab="payIn/yandex"]').show();
        $('#PaymentType').dropdown({
            onChange: function (value) {
                var tabName;
                switch (value) {
                    case '@((byte)PaymentType.YandexWallet)':
                        tabName = 'payIn/yandex';
                        break;
                    case '@((byte)PaymentType.WebMoney)':
                        tabName = 'payIn/webmoney';
                        break;
                    case '@((byte)PaymentType.BankCard)':
                        tabName = 'payIn/bank';
                        break;
                    default:
                        tabName = 'payIn/yandex';
                        break;
                }
                $('.tab[data-tab="' + tabName + '"]').show();
                $('.tab[data-tab="' + tabName + '"]').siblings('.tab').hide();
            }
        });
        $('.ui.tabs.menu .item').tab();
    });
</script>