@model IEnumerable<Mite.Models.FaqQuestionModel>
@{ 
    ViewBag.Title = "Вопросы и ответы";
}
@section styles{
    <style>
        .faq-nav{
            max-height: 500px;
            overflow: auto;
        }
        .fixed.faq-nav{
            position: fixed;
        }
    </style>
}
<div class="ui segment">
    <h2 class="ui dividing header">Вопросы и ответы</h2>
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui faq-nav vertical menu">
                @foreach (var item in Model)
                {
                    <a class="item" href="#@item.Id">@item.Header</a>
                }
            </div>
        </div>
        <div class="twelve wide column">
            @foreach(var item in Model)
            {
                <h3 class="ui header" id="@item.Id">@item.Header</h3>
                if (!string.IsNullOrEmpty(item.Content))
                {
                    <p>@item.Content</p>
                }
                if(item.Items != null)
                {
                    <ol>
                        @foreach(var listItem in item.Items)
                        {
                            <li>@listItem</li>
                        }
                    </ol>
                }
            }
        </div>
    </div>
</div>
<script>
    $('.faq-nav').visibility({
        type: 'fixed',
        offset: 50
    }).css('width', '17em');
</script>