
@{
    ViewBag.Title = "Главная";
    Layout = null;
}
@section styles{
    <style>
        .pusher, body {
            background-color: white !important;
        }
    </style>
}
<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#b540c6">
    <meta name="msapplication-TileImage" content="~/Content/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#b540c6">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MiteGroup</title>
    <meta name="description" content="Добро пожаловать в наше творческое сообщество!"/>
    @Styles.Render("~/Content/semantic")
    @Styles.Render("~/Content/landing")
</head>
<body>
    @Scripts.Render("~/bundles/main")
    <div class="wrapper">
        <article class="ui center aligned middle aligned grid">
            <div class="content-wrap column">
                <img src="~/Content/images/some-logo.png" class="ui centered logo image" />
                <div class="ui basic segment">
                    @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "ui blue button" })
                    <div class="ui horizontal inverted divider">Или</div>
                    @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "ui primary button" })
                </div>
            </div>
        </article>
        <footer>
            <div class="ui two column grid container">
                <div class="column">
                    <div class="ui inverted horizontal link list">
                        <a class="item">О нас</a>
                        <a class="item">Помощь</a>
                        <a class="item">Еще</a>
                    </div>
                </div>
                <div class="right aligned column">
                    <div class="ui inverted horizontal link list">
                        <a class="item">Поддержать проект</a>
                        <a href="/" class="item">&copy; Mite</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>