
@{
    ViewBag.Title = "Главная";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/icons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#b540c6">
    <meta name="msapplication-TileImage" content="~/Content/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#b540c6">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="MiteGroup - открытая площадка для публикации любых авторских работ." />
    <noscript><meta http-equiv="refresh" content="0;URL=/home/badjs" /></noscript>
    <title>MiteGroup</title>
    <meta name="description" content="Добро пожаловать в наше творческое сообщество!"/>
    @Styles.Render("~/Content/semantic", "~/Content/landing")
</head>
<body>
    @Scripts.Render("~/bundles/main", "~/bundles/scroll")
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45009220 = new Ya.Metrika({ id:45009220, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45009220" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <article class="ui stackable main center aligned middle aligned grid">
        <div class="content-wrap column">
            <img src="~/Content/images/some-logo.png" class="ui centered logo image" />
            <div class="ui basic segment">
                @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new { @class = "ui blue button" })
                <div class="ui horizontal inverted divider">Или</div>
                @Html.ActionLink("Войти", "Login", "Account", null, new { @class = "ui primary button" })
            </div>
        </div>
    </article>
    <div class="ui hidden divider"></div>
    <article class="ui container">
        <div class="ui stackable grid">
            <div class="row">
                <div class="seven wide column">
                    <div class="ui basic segment">
                        <h2 class="ui header">Ничего лишнего</h2>
                        <p>Добавляйте анимацию, изображения, фотографии, литературу, статьи -
                        любое искусство наш сервис встретит приветливым дизайном и удобным функционалом. </p>
                        <p>А тем кто пишет, теперь не придётся использовать сторонние редакторы - ведь всё есть у нас!</p>
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="ui basic segment">
                        <img class="ui image" src="~/Content/images/land/makeDoc.gif" />
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="computer tablet only row">
                <div class="nine wide column">
                    <div class="ui basic segment">
                        <img class="ui image" src="~/Content/images/land/posts.png" />
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="ui basic segment">
                        <h2 class="ui header">Рейтинги - наше всё</h2>
                        <p>Рейтинг - краеугольный камень MiteGroup, заработать его можно от создания публикаций до обычного комментирования.</p>
                    </div>
                </div>
            </div>
            <div class="mobile only row">
                <div class="seven wide column">
                    <div class="ui basic segment">
                        <h2 class="ui header">Рейтинги - наше всё</h2>
                        <p>Рейтинг - краеугольный камень MiteGroup, заработать его можно от создания публикаций до обычного комментирования.</p>
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="ui basic segment">
                        <img class="ui image" src="~/Content/images/land/posts.png" />
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="row">
                <div class="seven wide column">
                    <div class="ui basic segment">
                        <h2 class="ui header">Зарабатывай на том, что нравится</h2>
                        <p>MiteGroup изначально был задуман как проект для развития и заработка на своём хобби. Приглашайте своих друзей и знакомых, занимающихся творчеством, и зарабатывайте вместе!</p>
                    </div>
                </div>
                <div class="nine wide column">
                    <div class="ui basic segment">
                        <img class="ui image" src="~/Content/images/land/cash.png" />
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="row">
                <div class="center aligned column">
                    <div class="ui basic segment">
                        <h2 class="ui header">Теперь дело за вами</h2>
                        <button class="ui active large violet inverted basic land button" onclick="scrollToTop()">Начинаем</button>
                        <button class="ui large blue land button" onclick="$('#tagsModal').modal('show')">Хочу ещё посмотреть</button>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
        </div>
    </article>
    <footer>
        <div class="ui computer tablet only grid container">
            <div class="row">
                <div class="ten wide column">
                    <div class="ui inverted horizontal link list">
                        @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Условия пользования", "Terms", "Home", null, new { @class = "item" })
                        @Html.ActionLink("Политика конфиденциальности", "Privacy", "Home", null, new { @class = "item" })
                    </div>
                </div>
                <div class="six wide right aligned column">
                    <div class="ui inverted horizontal link list">
                        <a href="/" class="item">&copy; MiteGroup</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui mobile only grid center aligned container">
            <div class="ui basic segment" style="padding-top: 0">
                <div class="ui inverted divided list">
                    @Html.ActionLink("Помощь", "Help", "Home", null, new { @class = "item" })
                    @Html.ActionLink("Условия пользования", "Terms", "Home", null, new { @class = "item" })
                    @Html.ActionLink("Политика конфиденциальности", "Privacy", "Home", null, new { @class = "item" })
                    <a href="/" class="item">&copy; MiteGroup</a>
                </div>
            </div>
        </div>
    </footer>
    <div class="ui small modal" id="tagsModal">
        <div class="header">Ваши предпочтения</div>
        <div class="content">
            <div class="ui fluid four item stackable menu">
                @Html.ActionLink("Арт", "Top", "Posts", new { tags = "арт" }, new { @class = "item"})
                @Html.ActionLink("Литература", "Top", "Posts", new { tags = "литература" }, new { @class = "item" })
                @Html.ActionLink("Фото", "Top", "Posts", new { tags = "фотография" }, new { @class = "item" })
                @Html.ActionLink("Анимация", "Top", "Posts", new { tags = "анимация" }, new { @class = "item" })
            </div>
            <div class="ui horizontal divider">Или</div>
            <div class="ui action fluid input">
                <input type="text" placeholder="Другое..." id="tagInput">
                <button class="ui primary button" onclick="goToTag()">Искать</button>
            </div>
        </div>
    </div>
    <script>
        function scrollToTop() {
            try{
                yaCounter45009220.reachGoal('BeginUse');
            }
            catch (e) {
                console.log('yaCounter is not defined.');
            }
            scrollTo('.main.grid', 1800, 'easeOutExpo', -10);
        }
        function goToTag() {
            location.href = '/posts/top?tags=' + $('#tagInput').val();
        }
        $(function () {
            $('#tagsModal').modal({
                transition: 'vertical flip'
            });
        })
    </script>
</body>
</html>