@model bool?

@{
    var fieldName = Html.ViewData.TemplateInfo.HtmlFieldPrefix;
    var displayName = Html.ViewData.ModelMetadata.DisplayName;
    var isChecked = Html.ViewData.TemplateInfo.FormattedModelValue as bool?;
}

<div class="field">
    <div class="ui toggle checkbox @Html.Raw(isChecked == true ? "checked" : "")">
        <input type="checkbox" id="@fieldName" value="true" 
               name="@fieldName" @Html.Raw(isChecked == true ? "checked" : "") />
        <label>@displayName</label>
    </div>
</div>

