@using Mite.CodeData.Enums
@using Mite.Extensions
@model Mite.Models.ImagePostModel
@{
    ViewBag.Title = "Добавить изображения";
    var tagsRow = Model.Tags == null ? string.Empty : string.Join(",", Model.Tags);
    var saveMode = Model.Header == null ? "add" : "edit";
}
@section styles{
    <style>
        .p-item-form .close.icon {
            float: left;
        }
    </style>
}
<div class="ui segment">
    <div class="ui dividing header">@ViewBag.Title</div>
    <form class="ui two column stackable center aligned grid form p-form">
        <div class="column">
            <label class="ui labeled icon large primary button">
                Загрузить
                <i class="cloud download icon"></i>
                <input type="file" onchange="FileReaderHelper.inputDownloadHandler(event)" style="display: none" />
            </label>
            <div class="ui section divider horizontal">Или</div>
            <div class="ui dashed drop-zone segment" ondragover="FileReaderHelper.dragOverHandler(event)" ondrop="FileReaderHelper.dropHandler(event)">
                <h3 class="ui disabled grey">Перетащите сюда</h3>
            </div>
            <div class="field">
                <div class="ui image img-wrapper">
                    @if (!string.IsNullOrEmpty(Model.Content))
                    {
                        <img src="@Model.Content" />
                    }
                </div>
            </div>
        </div>
        <div class="left aligned column">
            @Html.HiddenFor(x => x.Id)
            @Html.EditorFor(x => x.Header)
            @Html.HiddenFor(x => x.Content)
            @Html.EditorFor(x => x.Description)
            <div class="field">
                <div class="ui fluid search multiple selection dropdown" id="select-tags">
                    <input type="hidden" name="Tags" value="@tagsRow" />
                    <div class="default text">Теги</div>
                    <div class="menu">
                        @foreach (var tagName in Model.AvailableTags)
                        {
                            <div class="item" data-value="@tagName">@tagName</div>
                        }
                    </div>
                </div>
            </div>
            <div class="ui error message"></div>
        </div>
    </form>
    <div class="ui one column grid">
        <div class="center aligned column">
            @if (Model.Collection != null && Model.Collection.Count > 0)
            {
                foreach (var colItem in Model.Collection)
                {
                    <form class="ui form p-item-form" data-id="@colItem.Id">
                        <div class="ui divider"></div>
                        <i title="Удалить" onclick="Posts.removeCollectionItem(this)" class="red link large close icon"></i>
                        <div class="ui two column stackable center aligned grid">
                            <div class="column">
                                <label class="ui labeled icon large primary button">
                                    Загрузить
                                    <i class="cloud download icon"></i>
                                    <input type="file" onchange="FileReaderHelper.inputDownloadHandler(event)" style="display: none" />
                                </label>
                                <div class="ui section divider horizontal">Или</div>
                                <div class="ui dashed drop-zone segment" ondragover="FileReaderHelper.dragOverHandler(event)" ondrop="FileReaderHelper.dropHandler(event)">
                                    <h3 class="ui disabled grey">Перетащите сюда</h3>
                                </div>
                            </div>
                            <div class="left aligned column">
                                <input type="hidden" name="Content" value="@colItem.Content" />
                                <div class="field">
                                    <label>Описание</label>
                                    <textarea rows="2" placeholder="Описание" name="Description">@colItem.Description</textarea>
                                </div>
                                <div class="field">
                                    <div class="ui image img-wrapper">
                                        <img src="@colItem.Content" />
                                    </div>
                                </div>
                                <div class="ui error message"></div>
                            </div>
                        </div>
                    </form>
                }
            }
            <button class="ui primary button" style="margin-top: 10px" onclick="Posts.addCollectionItem(this)">Добавить элемент коллекции</button>
            <button class="ui green button" onclick="Posts.Api.saveCollection(this, '@saveMode')">Сохранить</button>
        </div>
    </div>
</div>
<div class="ui tiny modal" role="dialog" id="publishConfirmModal">
    <i class="close icon"></i>
    <div class="header" role="heading">Опубликовать работу?</div>
    <div class="content" role="document">
        <p>
            После публикации работу можно будет отредактировать в течение трёх дней. 
            При нажатии "Нет" она сохранится в черновиках и будет доступна для изменений в любое время.
        </p>
    </div>
    <div class="actions">
        <div class="ui ok green button">Да</div>
        <div class="ui cancel red button">Нет</div>
    </div>
</div>
<script type="text/html" id="postItemFormTmpl">
    <form class="ui form p-item-form" style="display: none">
        <div class="ui divider"></div>
        <i title="Удалить" onclick="Posts.removeCollectionItem(this)" class="red link large close icon"></i>
        <div class="ui two column stackable center aligned grid">
            <div class="column">
                <label class="ui labeled icon large primary button">
                    Загрузить
                    <i class="cloud download icon"></i>
                    <input type="file" onchange="FileReaderHelper.inputDownloadHandler(event)" style="display: none" />
                </label>
                <div class="ui section divider horizontal">Или</div>
                <div class="ui dashed drop-zone segment" ondragover="FileReaderHelper.dragOverHandler(event)" ondrop="FileReaderHelper.dropHandler(event)">
                    <h3 class="ui disabled grey">Перетащите сюда</h3>
                </div>
            </div>
            <div class="left aligned column">
                <input type="hidden" name="Content" />
                <div class="field">
                    <textarea rows="2" placeholder="Описание" name="Description"></textarea>
                </div>
                <div class="field">
                    <div class="ui image img-wrapper"></div>
                </div>
                <div class="ui error message"></div>
            </div>
        </div>
    </form>
</script>
@section scripts{
    @Scripts.Render("~/bundles/api")
    <script>
        $(function () {
            @Html.Raw(Html.FormValidation<Mite.Models.ImagePostModel>(".p-form"))
            new PerfectScrollbar('#select-tags>.menu');
            $('#select-tags').dropdown({
                allowAdditions: true,
                fullTextSearch: true,
                keys: {
                    delimiter: 13
                },
                showOnFocus: false,
                forceSelection: false,
                match: 'text'
            });
        });
    </script>
}


