@using Mite.Extensions
@model Mite.Models.ForgotPassModel

@using(Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "ui form", id = "forgotPassForm" }))
{
    @Html.EditorFor(x => x.Email)
    @Html.AntiForgeryToken()
    <button type="button" class="ui primary button" id="forgotPassBtn" onclick="sendForgotPassForm(this)">Отправить</button>
    @Html.ValidationSum("forgotPassMsg")
    <div class="ui hidden message" id="forgotPassMsg">
        <p></p>
    </div>
}
<script>
    function sendForgotPassForm(ev) {
        var errorStatus = @((byte)Mite.Core.JsonStatuses.ValidationError);
        var $form = $('#forgotPassForm');
        var $msgWrapper = $('#forgotPassMsg');

        if(!$form.form('validate form')) {
            return;
        }
        $(ev).addClass('loading disabled');
        $.ajax({
            url: '@Url.Action("ForgotPassword", "Account")',
            type: 'post',
            data: $form.serialize(),
            success: function (resp) {
                if(resp.status == errorStatus){
                    $msgWrapper.addClass('red');
                } else{
                    $msgWrapper.addClass('green');
                }
                $msgWrapper.html('<p>' + resp.message + '</p>');
            },
            error: function(jqXhr){
                $msgWrapper.addClass('red');
                $msgWrapper.html('<p>' + 'Внутренняя ошибка сервера, пожалуйста попробуйте позднее', '</p>');
            },
            complete: function(){
                $msgWrapper.show();
                $(ev).removeClass('loading disabled');
            }
        });
    }
    $(function(){
        $('#forgotPassModal').modal('attach events', '#forgotPassBtn', 'show');
    });
</script>