@model Mite.Models.ResetPasswordModel

@{
    ViewBag.Title = "Сброс пароля";
}
<div class="ui center aligned grid">
    <div class="ui six wide column">
        <h2 class="ui left aligned violet header">
            <i class="unlock alternate icon"></i>
            <span class="content">
                Сброс пароля
            </span>
        </h2>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "ui form segment", id = "resetPassForm" }))
        {
            @Html.HiddenFor(x => x.Code)
            @Html.HiddenFor(x => x.UserId)
            @Html.EditorFor(x => x.NewPass)
            @Html.EditorFor(x => x.ConfirmPass)
            @Html.AntiForgeryToken()
            <button class="ui primary button" type="submit">Отправить</button>
        }
    </div>
</div>
<script>
    $(function () {
        $('#resetPassForm').form({
            on: 'submit',
            fields: {
                NewPass: {
                    rules: [
                        {
                            type: "empty",
                            prompt: $("#NewPass").data("valRequired")
                        },
                        {
                            type: "length[6]",
                            prompt: "Минимальная длина пароля - 6 символов"
                        }
                    ]
                },
                ConfirmPass: {
                    rules: [
                        {
                            type: "empty",
                            prompt: $("#ConfirmPass").data("valRequired")
                        },
                        {
                            type: "match[NewPass]",
                            prompt: $("#ConfirmPass").data("valEqualto")

                        }
                    ]
                }
            }
        });
    });
</script>

